# Imports

In [573]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read Data

In [574]:
df_train = pd.read_csv('X_train.csv', encoding='cp949')
df_test = pd.read_csv('X_test.csv', encoding='cp949')
y_train = pd.read_csv('y_train.csv').gender
IDtest = df_test.custid.unique()

In [575]:
df_train.head()

,custid,sales_date,sales_time,str_nm,goodcd,brd_nm,corner_nm,pc_nm,part_nm,team_nm,buyer_nm,import_flg,tot_amt,dis_amt,net_amt,inst_mon,inst_fee
0,0,2000-06-25 00:00:00,1212,무역점,2116050008000,에스티로더,수입종합화장품,화장품,명품잡화,잡화가용팀,화장품,1,90000,9000,81000,3,0
1,0,2000-06-25 00:00:00,1242,무역점,4125440008000,시슬리,수입종합화장품,화장품,명품잡화,잡화가용팀,화장품,1,39000,3900,35100,1,0
2,0,2000-08-26 00:00:00,1810,본점,2116052008000,크리니크,수입종합화장품,화장품,잡화파트,잡화가용팀,화장품,1,175000,17500,157500,3,0
3,0,2000-08-26 00:00:00,1830,본점,4106430119900,듀퐁,수입의류,명품토탈,잡화파트,잡화가용팀,수입명품,1,455000,45500,409500,3,0
4,0,2000-09-03 00:00:00,1802,무역점,2139141008000,랑콤,수입종합화장품,화장품,명품잡화,잡화가용팀,화장품,0,100000,10000,90000,3,0

#### 판매데이터 구조
- custid: 고객ID
- sales_date: 판매일자 (문자)
- str_nm: 판매시간 (4자리 숫자)
- goodcd: 상품코드
- brd_nm: 브랜드명
- corner_nm: 코너명
- pc_nm: PC명
- part_nm: 파트명
- team_nm: 판매팀명
- buyer_nm: Buying MD
- import_flg: 수입상품여부
- tot_amt: 판매금액
- dis_amt: 할인금액
- net_amt: 판매금액 - 할인금액
- inst_mon: 할부개월수

<p>*`백화점 영업조직`: 306개 corner < 76개 pc < 29개 part < 3개 team*</p>
<p>*`y_train.csv`에서 target값 0은 남자, 1은 여자를 나타냄*</p>

# Pivoting

## 1. 고객별 구매시간빈도

In [576]:
def g(x):
    if len(str(x))==4:
        return(str(x)[0:2])
    else:
        return(str(x)[0:1])

df_train['sales_hour'] = df_train['sales_time'].apply(g)
df_test['sales_hour'] = df_test['sales_time'].apply(g)

In [577]:
##

df_all = pd.concat([df_train, df_test])

In [578]:
level = 'sales_hour'
df_train[level].nunique()

19

In [579]:
df_train[level].unique()

array(['12', '18', '19', '14', '15', '16', '17', '10', '11', '20', '13',
       '9', '21', '22', '1', '23', '3', '2', '8'], dtype=object)

In [580]:
X_train1 = pd.pivot_table(df_all, index='custid', columns=level,values='tot_amt',
                         aggfunc=np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test1 = pd.pivot_table(df_all, index='custid', columns=level,values='tot_amt',
                         aggfunc=np.size , fill_value=0). \
                         reset_index(). \
                         query('custid  in @IDtest'). \
                         drop(columns=['custid']).values

In [581]:
X_train1 = pd.DataFrame(X_train1)
X_test1 = pd.DataFrame(X_test1)

# 2. 고객별 브랜드빈도

In [582]:
level = 'brd_nm'
df_train[level].nunique()

1882

In [583]:
X_train2 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test2 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train2 = pd.DataFrame(X_train2)
X_test2 = pd.DataFrame(X_test2)

# 3. 고객별  코너방문 빈도

In [584]:
level = 'corner_nm'
df_train[level].nunique()

309

In [585]:
X_train3 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test3 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train3 = pd.DataFrame(X_train3)
X_test3 = pd.DataFrame(X_test3)

# 4. 고객별 PC빈도

In [586]:
level = 'pc_nm'
df_train[level].nunique()

78

In [587]:
X_train4 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test4 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train4 = pd.DataFrame(X_train4)
X_test4 = pd.DataFrame(X_test4)

# 5. 고객별  파트빈도

In [588]:
level = 'part_nm'
df_train[level].nunique()

31

In [589]:
X_train5 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test5 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train5 = pd.DataFrame(X_train5)
X_test5 = pd.DataFrame(X_test5)

# 6. 고객별  판매팀명

In [590]:
level = 'team_nm'
df_train[level].nunique()

5

In [591]:
X_train6 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc=np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test6 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc=np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train6 = pd.DataFrame(X_train6)
X_test6 = pd.DataFrame(X_test6)

# 7. 고객별 Buying MD 빈도

In [592]:
level = 'buyer_nm'
df_train[level].nunique()

35

In [593]:
X_train7 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test7 = pd.pivot_table(df_all, index='custid', columns=level, values='tot_amt',
                         aggfunc= np.size , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train7 = pd.DataFrame(X_train7)
X_test7 = pd.DataFrame(X_test7)

# 8. 고객별 총구매액

In [594]:
X_train8 = pd.pivot_table(df_all, index='custid', values='tot_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test8 = pd.pivot_table(df_all, index='custid', values='tot_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train8 = pd.DataFrame(X_train8)
X_test8 = pd.DataFrame(X_test8)

# 9. 고객별 평균 구매액

In [595]:
X_train9 = pd.pivot_table(df_all, index='custid', values='tot_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test9 = pd.pivot_table(df_all, index='custid', values='tot_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train9 = pd.DataFrame(X_train9)
X_test9 = pd.DataFrame(X_test9)

# 10. 고객별 총 할인금액

In [596]:
X_train10 = pd.pivot_table(df_all, index='custid', values='dis_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test10 = pd.pivot_table(df_all, index='custid', values='dis_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train10 = pd.DataFrame(X_train10)
X_test10 = pd.DataFrame(X_test10)

# 11. 고객별 평균 할인금액

In [597]:
X_train11 = pd.pivot_table(df_all, index='custid', values='dis_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test11 = pd.pivot_table(df_all, index='custid', values='dis_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train11 = pd.DataFrame(X_train11)
X_test11 = pd.DataFrame(X_test11)

# 12. 고객별 총 직불금액

In [598]:
X_train12 = pd.pivot_table(df_all, index='custid', values='net_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test12 = pd.pivot_table(df_all, index='custid', values='net_amt',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train12 = pd.DataFrame(X_train12)
X_test12 = pd.DataFrame(X_test12)

# 13. 고객별 평균 직불금액

In [599]:
X_train13 = pd.pivot_table(df_all, index='custid', values='net_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test13 = pd.pivot_table(df_all, index='custid', values='net_amt',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train13 = pd.DataFrame(X_train13)
X_test13 = pd.DataFrame(X_test13)

# 14. 고객별 총 할부개월 수

In [600]:
X_train14 = pd.pivot_table(df_all, index='custid', values='inst_mon',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test14 = pd.pivot_table(df_all, index='custid', values='inst_mon',
                         aggfunc=np.sum , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train14 = pd.DataFrame(X_train14)
X_test14 = pd.DataFrame(X_test14)

# 15. 고객별 평균 할부개월 수

In [601]:
X_train15 = pd.pivot_table(df_all, index='custid', values='inst_mon',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid not in @IDtest'). \
                         drop(columns=['custid']).values

X_test15 = pd.pivot_table(df_all, index='custid', values='inst_mon',
                         aggfunc=np.mean , fill_value=0). \
                         reset_index(). \
                         query('custid in @IDtest'). \
                         drop(columns=['custid']).values

X_train15 = pd.DataFrame(X_train15)
X_test15 = pd.DataFrame(X_test15)

# Merging

In [602]:
X_train = pd.concat([X_train1,X_train2],axis=1)
X_train = pd.concat([X_train,X_train3],axis=1)
X_train = pd.concat([X_train,X_train4],axis=1)
X_train = pd.concat([X_train,X_train5],axis=1)
X_train = pd.concat([X_train,X_train6],axis=1)
X_train = pd.concat([X_train,X_train7],axis=1)
X_train = pd.concat([X_train,X_train8],axis=1)
X_train = pd.concat([X_train,X_train9],axis=1)
X_train = pd.concat([X_train,X_train10],axis=1)
X_train = pd.concat([X_train,X_train11],axis=1)
X_train = pd.concat([X_train,X_train12],axis=1)
X_train = pd.concat([X_train,X_train13],axis=1)
X_train = pd.concat([X_train,X_train14],axis=1)
X_train = pd.concat([X_train,X_train15],axis=1)


X_test = pd.concat([X_test1,X_test2],axis=1)
X_test = pd.concat([X_test,X_test3],axis=1)
X_test = pd.concat([X_test,X_test4],axis=1)
X_test = pd.concat([X_test,X_test5],axis=1)
X_test = pd.concat([X_test,X_test6],axis=1)
X_test = pd.concat([X_test,X_test7],axis=1)
X_test = pd.concat([X_test,X_test8],axis=1)
X_test = pd.concat([X_test,X_test9],axis=1)
X_test = pd.concat([X_test,X_test10],axis=1)
X_test = pd.concat([X_test,X_test11],axis=1)
X_test = pd.concat([X_test,X_test12],axis=1)
X_test = pd.concat([X_test,X_test13],axis=1)
X_test = pd.concat([X_test,X_test14],axis=1)
X_test = pd.concat([X_test,X_test15],axis=1)

In [603]:
X_train.shape

(30000, 2392)

In [604]:
X_test.shape

(19995, 2392)

In [605]:
X_train.columns = list(range(0,2392))
X_test.columns = list(range(0,2392))

In [606]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391
0,0,0,0,0,2,0,0,0,0,0,...,0,8,1742000,158363.636364,174200,15836.363636,1567800,142527.272727,31,2.818182
1,0,0,1,3,3,0,1,4,6,3,...,0,3,2772100,106619.230769,56630,2178.076923,2715470,104441.153846,64,2.461538
2,0,0,2,1,0,1,1,0,1,1,...,0,1,3750850,340986.363636,255090,23190.000000,3495760,317796.363636,38,3.454545
3,0,0,0,3,3,2,3,0,1,5,...,0,1,2300500,76683.333333,91660,3055.333333,2208840,73628.000000,80,2.666667
4,0,0,0,0,0,0,4,0,0,0,...,0,1,1045000,261250.000000,21800,5450.000000,1023200,255800.000000,18,4.500000

In [607]:
X_train.shape

(30000, 2392)

# 0517_Merging-Yuna

In [608]:
features = []

## 1. 평균 구매시간

In [609]:
df_all['hour']=df_all['sales_time']//100

In [610]:
f = df_all.groupby('custid')['hour'].agg([('평균구매시간', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

       custid  평균구매시간
0           0    17.4
1           1    15.1
2           2    15.1
3           3    15.8
4           4    14.0
5           5    15.5
6           6    15.6
7           7    16.2
8           8    15.6
9           9    15.4
10         10    13.2
11         11    14.3
12         12    16.5
13         13    14.9
14         14    14.8
15         15    13.1
16         16    16.4
17         17    15.7
18         18    14.7
19         19    16.3
20         20    15.8
21         21    13.1
22         22    15.1
23         23    15.1
24         24    16.7
25         25    15.6
26         26    15.9
27         27    15.7
28         28    16.4
29         29    16.9
...       ...     ...
49965   49965    14.2
49966   49966    16.8
49967   49967    15.1
49968   49968    15.9
49969   49969    17.2
49970   49970    16.5
49971   49971    14.9
49972   49972    17.1
49973   49973    14.3
49974   49974    17.0
49975   49975    16.4
49976   49976    14.5
49977   49977    14.6
49978   49978    17.7
49979   49979    16.0
49980   49980    16.2
49981   49981    16.2
49982   49982    16.0
49983   49983    14.3
49984   49984    15.1
49985   49985    13.5
49986   49986    16.8
49987   49987    17.0
49988   49988    13.5
49989   49989    14.8
49990   49990    15.0
49991   49991    18.0
49992   49992    17.5
49993   49993    17.0
49994   49994    17.0

[49995 rows x 2 columns]

## 2. 퇴근 시간 관련 구매건수

In [611]:
a=pd.pivot_table(df_all, index='custid', columns='hour', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()

In [612]:
aa=a.iloc[:,[1,2,3,4,5,6,7,8,10,11,12,13]].sum(axis=1)
ab=a.iloc[:,[14,15,16,17,18]].sum(axis=1)
ac=a.iloc[:,[1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18]].sum(axis=1)
ap=pd.DataFrame({'custid':a['custid'],'퇴근 전 구매건수':aa,'퇴근 후 구매건수':ab,'총 구매건수':ac})
ap['근무시간 구매건수 비율']=ap['퇴근 전 구매건수']/ap['총 구매건수'].fillna(0)
ap=ap.fillna(0)
ap['퇴근 후 구매건수 비율']=ap['퇴근 후 구매건수']/ap['총 구매건수'].fillna(0)
ap=ap.fillna(0)
f=ap.iloc[:,[0,1,2,4,5]]
features.append(f); f

       custid  퇴근 전 구매건수  퇴근 후 구매건수  근무시간 구매건수 비율  퇴근 후 구매건수 비율
0           0          6          5      0.545455      0.454545
1           1         24          1      0.960000      0.040000
2           2          7          3      0.700000      0.300000
3           3         25          2      0.925926      0.074074
4           4          0          0      0.000000      0.000000
5           5         26          6      0.812500      0.187500
6           6         27          2      0.931034      0.068966
7           7         33          1      0.970588      0.029412
8           8         12          1      0.923077      0.076923
9           9         45         12      0.789474      0.210526
10         10         24          0      1.000000      0.000000
11         11         57          3      0.950000      0.050000
12         12         22          5      0.814815      0.185185
13         13        102          2      0.980769      0.019231
14         14          6          0      1.000000      0.000000
15         15         67          2      0.971014      0.028986
16         16         14          3      0.823529      0.176471
17         17         19          1      0.950000      0.050000
18         18         52          2      0.962963      0.037037
19         19          8          4      0.666667      0.333333
20         20        138         20      0.873418      0.126582
21         21         13          0      1.000000      0.000000
22         22         25          0      1.000000      0.000000
23         23         72          8      0.900000      0.100000
24         24          2          1      0.666667      0.333333
25         25         18          0      1.000000      0.000000
26         26         73          4      0.948052      0.051948
27         27         65          9      0.878378      0.121622
28         28         17          0      1.000000      0.000000
29         29          5          3      0.625000      0.375000
...       ...        ...        ...           ...           ...
49965   49965         85          5      0.944444      0.055556
49966   49966          5          0      1.000000      0.000000
49967   49967         11          2      0.846154      0.153846
49968   49968         14          1      0.933333      0.066667
49969   49969          3          2      0.600000      0.400000
49970   49970         27          9      0.750000      0.250000
49971   49971          5          0      1.000000      0.000000
49972   49972         25          3      0.892857      0.107143
49973   49973          6          0      1.000000      0.000000
49974   49974          1          0      1.000000      0.000000
49975   49975         33          5      0.868421      0.131579
49976   49976         17          4      0.809524      0.190476
49977   49977         43          3      0.934783      0.065217
49978   49978          5          6      0.454545      0.545455
49979   49979          1          0      1.000000      0.000000
49980   49980         24          6      0.800000      0.200000
49981   49981         12          0      1.000000      0.000000
49982   49982         22          6      0.785714      0.214286
49983   49983         60          4      0.937500      0.062500
49984   49984         55          4      0.932203      0.067797
49985   49985          4          0      1.000000      0.000000
49986   49986          5          0      1.000000      0.000000
49987   49987        143         56      0.718593      0.281407
49988   49988          4          0      1.000000      0.000000
49989   49989         86          1      0.988506      0.011494
49990   49990          1          0      1.000000      0.000000
49991   49991          3          6      0.333333      0.666667
49992   49992          2          0      1.000000      0.000000
49993   49993          4          0      1.000000      0.000000
49994   49994          3          0      1.000000      0.000000

[49995 rows x 5 columns]

## 3. 충동구매 여부

In [613]:
f1 = df_all.groupby('custid')['hour'].agg([('평균구매시간', 'mean')]).reset_index()
f1.iloc[:,1] = f1.iloc[:,1].apply(round, args=(0,))
f2=df_all.groupby(['custid','hour'])['tot_amt'].agg([('구매건수','size')]).reset_index()
f3=pd.merge(f1,f2,on='custid')
f3['rate']=f3['평균구매시간']/f3['hour']

In [614]:
m1=f3.query('0<=rate<=1').groupby('custid')['구매건수'].agg([('평균 구매시간 내 구매건수','size')]).reset_index()
m2=f3.query('1<=rate').groupby('custid')['구매건수'].agg([('평균 구매시간 외 구매건수','size')]).reset_index()
m=pd.merge(m1,m2,on='custid')
m['평균 시간 구매비율']=m['평균 구매시간 내 구매건수']/m['평균 구매시간 외 구매건수']
m['충동구매 여부']=np.where(m['평균 시간 구매비율']<=1,'no','yes')
f = pd.get_dummies(m, columns=['충동구매 여부'])  # This method performs One-hot-encoding
features.append(f); f

,custid,평균 구매시간 내 구매건수,평균 구매시간 외 구매건수,평균 시간 구매비율,충동구매 여부_no,충동구매 여부_yes
0,0,2,1,2.000000,0,1
1,1,5,5,1.000000,1,0
2,2,4,4,1.000000,1,0
3,3,4,5,0.800000,1,0
4,4,1,1,1.000000,1,0
5,5,4,5,0.800000,1,0
6,6,4,5,0.800000,1,0
7,7,4,4,1.000000,1,0
8,8,4,4,1.000000,1,0
9,9,5,5,1.000000,1,0
10,10,4,4,1.000000,1,0
11,11,6,5,1.200000,0,1
12,12,4,5,0.800000,1,0
13,13,5,5,1.000000,1,0
14,14,2,3,0.666667,1,0
15,15,5,3,1.666667,0,1
16,16,3,3,1.000000,1,0
17,17,4,5,0.800000,1,0
18,18,5,5,1.000000,1,0
19,19,2,3,0.666667,1,0
20,20,5,7,0.714286,1,0
21,21,4,3,1.333333,0,1
22,22,4,4,1.000000,1,0
23,23,5,6,0.833333,1,0
24,24,2,1,2.000000,0,1
25,25,3,3,1.000000,1,0
26,26,4,5,0.800000,1,0
27,27,4,5,0.800000,1,0
28,28,3,3,1.000000,1,0
29,29,3,3,1.000000,1,0
...,...,...,...,...,...,...
49965,49965,6,5,1.200000,0,1
49966,49966,2,3,0.666667,1,0
49967,49967,4,4,1.000000,1,0
49968,49968,4,3,1.333333,0,1
49969,49969,2,2,1.000000,1,0
49970,49970,4,6,0.666667,1,0
49971,49971,2,2,1.000000,1,0
49972,49972,4,3,1.333333,0,1
49973,49973,4,2,2.000000,0,1
49974,49974,1,1,1.000000,1,0
49975,49975,5,4,1.250000,0,1
49976,49976,4,5,0.800000,1,0
49977,49977,6,6,1.000000,1,0
49978,49978,2,4,0.500000,1,0
49979,49979,1,1,1.000000,1,0
49980,49980,4,5,0.800000,1,0
49981,49981,3,2,1.500000,0,1
49982,49982,5,5,1.000000,1,0
49983,49983,6,5,1.200000,0,1
49984,49984,5,5,1.000000,1,0
49985,49985,2,1,2.000000,0,1
49986,49986,2,2,1.000000,1,0
49987,49987,4,7,0.571429,1,0
49988,49988,1,1,1.000000,1,0
49989,49989,5,6,0.833333,1,0
49990,49990,1,1,1.000000,1,0
49991,49991,2,3,0.666667,1,0
49992,49992,1,2,0.500000,1,0
49993,49993,2,2,1.000000,1,0
49994,49994,2,2,1.000000,1,0

## 4. 충동구매 건수

In [615]:
f=f3.query('1<=rate').groupby('custid')['구매건수'].agg([('충동구매 건수','sum')]).reset_index()
f

       custid  충동구매 건수
0           0        2
1           1       12
2           2        5
3           3       12
4           4        4
5           5       15
6           6       19
7           7       17
8           8       12
9           9       29
10         10       15
11         11       33
12         12       12
13         13       87
14         14        4
15         15       55
16         16        7
17         17       12
18         18       53
19         19        7
20         20       82
21         21       10
22         22       20
23         23       59
24         24        1
25         25       17
26         26       50
27         27       60
28         28       10
29         29        5
...       ...      ...
49965   49965       60
49966   49966        3
49967   49967        9
49968   49968       12
49969   49969        2
49970   49970       18
49971   49971        4
49972   49972       13
49973   49973        6
49974   49974        1
49975   49975       23
49976   49976       14
49977   49977       34
49978   49978        6
49979   49979        1
49980   49980       11
49981   49981        8
49982   49982       17
49983   49983       48
49984   49984       34
49985   49985        2
49986   49986        4
49987   49987      104
49988   49988        3
49989   49989       74
49990   49990        1
49991   49991        4
49992   49992        2
49993   49993        3
49994   49994        2

[49995 rows x 2 columns]

## 5. 여성용,남성용 제품 중 여성용품 구매비율

In [616]:
a=pd.pivot_table(df_all, index='custid', columns='part_nm', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
women_brand = ['여성캐주얼','여성의류파트','여성정장','여성캐쥬얼']
man_bran = ['남성정장스포츠','남성의류']
f['여성용품 구매 비율']=a.loc[:,women_brand].sum(axis=1)/len(women_brand+man_bran)
f=f.iloc[:,[0,2]]
features.append(f); f

       custid  여성용품 구매 비율
0           0    0.000000
1           1    0.666667
2           2    0.000000
3           3    0.000000
4           4    0.500000
5           5    0.500000
6           6    0.666667
7           7    0.500000
8           8    1.500000
9           9    1.166667
10         10    0.000000
11         11    0.666667
12         12    1.166667
13         13    1.000000
14         14    0.000000
15         15    0.666667
16         16    0.000000
17         17    0.333333
18         18    3.166667
19         19    0.500000
20         20    0.666667
21         21    0.333333
22         22    1.500000
23         23    1.166667
24         24    0.000000
25         25    0.500000
26         26    5.333333
27         27    0.166667
28         28    0.166667
29         29    0.166667
...       ...         ...
49965   49965    4.833333
49966   49966    0.166667
49967   49967    0.166667
49968   49968    0.000000
49969   49969    0.000000
49970   49970    0.166667
49971   49971    0.000000
49972   49972    0.000000
49973   49973    0.166667
49974   49974    0.000000
49975   49975    2.333333
49976   49976    0.333333
49977   49977    2.833333
49978   49978    0.166667
49979   49979    0.000000
49980   49980    0.000000
49981   49981    0.000000
49982   49982    1.000000
49983   49983    0.333333
49984   49984    3.000000
49985   49985    0.000000
49986   49986    0.166667
49987   49987    1.666667
49988   49988    0.000000
49989   49989    3.500000
49990   49990    0.000000
49991   49991    0.000000
49992   49992    0.000000
49993   49993    0.000000
49994   49994    0.000000

[49995 rows x 2 columns]

## 6. 여성용,남성용 제품 중 남성용품 구매비율

In [617]:
a=pd.pivot_table(df_all, index='custid', columns='part_nm', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
women_brand = ['여성캐주얼','여성의류파트','여성정장','여성캐쥬얼']
man_bran = ['남성정장스포츠','남성의류']
f['남성용품 구매 비율']=a.loc[:,man_bran].sum(axis=1)/len(women_brand+man_bran)
f=f.iloc[:,[0,2]]
features.append(f); f

       custid  남성용품 구매 비율
0           0    0.166667
1           1    0.166667
2           2    0.166667
3           3    0.500000
4           4    0.000000
5           5    1.333333
6           6    0.333333
7           7    0.000000
8           8    0.000000
9           9    0.000000
10         10    0.166667
11         11    0.000000
12         12    0.166667
13         13    2.166667
14         14    0.000000
15         15    0.333333
16         16    0.333333
17         17    0.333333
18         18    0.333333
19         19    0.166667
20         20    0.333333
21         21    0.000000
22         22    1.333333
23         23    0.000000
24         24    0.000000
25         25    0.166667
26         26    0.166667
27         27    0.000000
28         28    0.000000
29         29    0.000000
...       ...         ...
49965   49965    0.000000
49966   49966    0.166667
49967   49967    0.166667
49968   49968    0.500000
49969   49969    0.000000
49970   49970    0.000000
49971   49971    0.000000
49972   49972    0.000000
49973   49973    0.166667
49974   49974    0.000000
49975   49975    0.000000
49976   49976    0.666667
49977   49977    0.333333
49978   49978    0.000000
49979   49979    0.000000
49980   49980    0.000000
49981   49981    0.500000
49982   49982    0.333333
49983   49983    1.166667
49984   49984    0.500000
49985   49985    0.000000
49986   49986    0.000000
49987   49987    1.666667
49988   49988    0.000000
49989   49989    0.000000
49990   49990    0.000000
49991   49991    0.166667
49992   49992    0.000000
49993   49993    0.000000
49994   49994    0.000000

[49995 rows x 2 columns]

## 7. 총구매건수

In [618]:
f = df_all.groupby('custid')['tot_amt'].agg([('구매건수', 'size')]).reset_index()
features.append(f); f

       custid  구매건수
0           0    11
1           1    26
2           2    11
3           3    30
4           4     4
5           5    32
6           6    31
7           7    35
8           8    18
9           9    59
10         10    24
11         11    66
12         12    28
13         13   129
14         14     6
15         15    87
16         16    20
17         17    23
18         18    74
19         19    17
20         20   169
21         21    13
22         22    32
23         23    96
24         24     3
25         25    24
26         26    87
27         27    96
28         28    19
29         29     8
...       ...   ...
49965   49965   105
49966   49966     5
49967   49967    14
49968   49968    15
49969   49969     6
49970   49970    37
49971   49971     7
49972   49972    28
49973   49973    10
49974   49974     1
49975   49975    41
49976   49976    24
49977   49977    54
49978   49978    12
49979   49979     1
49980   49980    30
49981   49981    12
49982   49982    30
49983   49983    75
49984   49984    70
49985   49985     4
49986   49986     5
49987   49987   204
49988   49988     4
49989   49989   115
49990   49990     1
49991   49991    10
49992   49992     2
49993   49993     4
49994   49994     3

[49995 rows x 2 columns]

## 8. 구매다양성

In [619]:
n = df_all.corner_nm.nunique()
f = df_all.groupby('custid')['brd_nm'].agg([('구매상품다양성', lambda x: len(x.unique()) / n)]).reset_index()
features.append(f); f

       custid   구매상품다양성
0           0  0.022654
1           1  0.061489
2           2  0.022654
3           3  0.067961
4           4  0.012945
5           5  0.067961
6           6  0.074434
7           7  0.064725
8           8  0.042071
9           9  0.113269
10         10  0.058252
11         11  0.061489
12         12  0.045307
13         13  0.155340
14         14  0.016181
15         15  0.152104
16         16  0.061489
17         17  0.055016
18         18  0.139159
19         19  0.048544
20         20  0.174757
21         21  0.016181
22         22  0.061489
23         23  0.158576
24         24  0.009709
25         25  0.055016
26         26  0.129450
27         27  0.113269
28         28  0.029126
29         29  0.022654
...       ...       ...
49965   49965  0.126214
49966   49966  0.012945
49967   49967  0.035599
49968   49968  0.032362
49969   49969  0.012945
49970   49970  0.064725
49971   49971  0.016181
49972   49972  0.042071
49973   49973  0.029126
49974   49974  0.003236
49975   49975  0.097087
49976   49976  0.038835
49977   49977  0.116505
49978   49978  0.025890
49979   49979  0.003236
49980   49980  0.022654
49981   49981  0.032362
49982   49982  0.071197
49983   49983  0.119741
49984   49984  0.093851
49985   49985  0.012945
49986   49986  0.016181
49987   49987  0.200647
49988   49988  0.012945
49989   49989  0.200647
49990   49990  0.003236
49991   49991  0.025890
49992   49992  0.006472
49993   49993  0.009709
49994   49994  0.009709

[49995 rows x 2 columns]

## 9. 내점일수

In [620]:
df_all['sdate'] = df_all.sales_date.str[:10]
f = df_all.groupby(by = 'custid')['sdate'].agg([('내점일수','nunique')]).reset_index()
features.append(f); f

       custid  내점일수
0           0     7
1           1    16
2           2     7
3           3    13
4           4     2
5           5    21
6           6    11
7           7    23
8           8    10
9           9    34
10         10    15
11         11    42
12         12    12
13         13    39
14         14     5
15         15    33
16         16    10
17         17    15
18         18    47
19         19    11
20         20    75
21         21    12
22         22    21
23         23    43
24         24     2
25         25    13
26         26    36
27         27    54
28         28     9
29         29     4
...       ...   ...
49965   49965    59
49966   49966     4
49967   49967     6
49968   49968     6
49969   49969     4
49970   49970    11
49971   49971     6
49972   49972     9
49973   49973     8
49974   49974     1
49975   49975    21
49976   49976    12
49977   49977    32
49978   49978     8
49979   49979     1
49980   49980    13
49981   49981     4
49982   49982    16
49983   49983    31
49984   49984    27
49985   49985     3
49986   49986     4
49987   49987    61
49988   49988     2
49989   49989    43
49990   49990     1
49991   49991     8
49992   49992     2
49993   49993     1
49994   49994     2

[49995 rows x 2 columns]

## 10.수입상품 구매비율

In [621]:
x = df_all[df_all['import_flg'] == 1].groupby('custid').size() / df_all.groupby('custid').size()
f = x.reset_index().rename(columns={0: '수입상품_구매비율'}).fillna(0)
f.iloc[:,1] = (f.iloc[:,1]*100).apply(round, args=(1,))
features.append(f); f

       custid  수입상품_구매비율
0           0       63.6
1           1       42.3
2           2        9.1
3           3        0.0
4           4       25.0
5           5       18.8
6           6        9.7
7           7        8.6
8           8       11.1
9           9       10.2
10         10       16.7
11         11       12.1
12         12       25.0
13         13        2.3
14         14        0.0
15         15        8.0
16         16       20.0
17         17        4.3
18         18       35.1
19         19       11.8
20         20       17.8
21         21        7.7
22         22       34.4
23         23       11.5
24         24       33.3
25         25       29.2
26         26       23.0
27         27        9.4
28         28       36.8
29         29       12.5
...       ...        ...
49965   49965       10.5
49966   49966        0.0
49967   49967        7.1
49968   49968       26.7
49969   49969       33.3
49970   49970        8.1
49971   49971        0.0
49972   49972        7.1
49973   49973        0.0
49974   49974        0.0
49975   49975       12.2
49976   49976       16.7
49977   49977       13.0
49978   49978       41.7
49979   49979        0.0
49980   49980        6.7
49981   49981        0.0
49982   49982       16.7
49983   49983       13.3
49984   49984       10.0
49985   49985       25.0
49986   49986       20.0
49987   49987        9.3
49988   49988       25.0
49989   49989       15.7
49990   49990      100.0
49991   49991       10.0
49992   49992       50.0
49993   49993        0.0
49994   49994       33.3

[49995 rows x 2 columns]

## 11. 주말방문 비율

In [622]:
def fw(x):
    k = x.dayofweek
    if k <= 4 :
        return('주중_방문')
    else :
        return('주말_방문')    
    
df = df_all.copy()
df = df.drop_duplicates(['custid','sales_date'])

df['week'] = pd.to_datetime(df.sales_date).apply(fw)
df = pd.pivot_table(df, index='custid', columns='week', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
df['주말방문비율'] = ((df.iloc[:,1] / (df.iloc[:,1]+df.iloc[:,2]))*100).apply(round, args=(1,))
f = df.copy().iloc[:,[0,-1]]
features.append(f); f

week   custid  주말방문비율
0           0    42.9
1           1    50.0
2           2    28.6
3           3    38.5
4           4    50.0
5           5    23.8
6           6    36.4
7           7    26.1
8           8    70.0
9           9    14.7
10         10    13.3
11         11    64.3
12         12    25.0
13         13    28.2
14         14    20.0
15         15    18.2
16         16    70.0
17         17    26.7
18         18    23.4
19         19    18.2
20         20    32.0
21         21    25.0
22         22    19.0
23         23    37.2
24         24    50.0
25         25    92.3
26         26    27.8
27         27    68.5
28         28    11.1
29         29    50.0
...       ...     ...
49965   49965    30.5
49966   49966    25.0
49967   49967    50.0
49968   49968    16.7
49969   49969    50.0
49970   49970    36.4
49971   49971    33.3
49972   49972    33.3
49973   49973    12.5
49974   49974     0.0
49975   49975    61.9
49976   49976    16.7
49977   49977    28.1
49978   49978    37.5
49979   49979   100.0
49980   49980    46.2
49981   49981   100.0
49982   49982    56.2
49983   49983    61.3
49984   49984    40.7
49985   49985     0.0
49986   49986    25.0
49987   49987    60.7
49988   49988     0.0
49989   49989    23.3
49990   49990     0.0
49991   49991    37.5
49992   49992    50.0
49993   49993     0.0
49994   49994   100.0

[49995 rows x 2 columns]

## 12.계절별 구매건수

In [623]:
def f1(x):
    k = x.month
    if 3 <= k <= 5 :
        return('봄-구매건수')
    elif 6 <= k <= 8 :
        return('여름-구매건수')
    elif 9 <= k <= 11 :    
        return('가을-구매건수')
    else :
        return('겨울-구매건수')    
    
df_all['season'] = pd.to_datetime(df_all.sales_date).apply(f1)
f = pd.pivot_table(df_all, index='custid', columns='season', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

season  custid  가을-구매건수  겨울-구매건수  봄-구매건수  여름-구매건수
0            0        3        3       1        4
1            1        6        1      10        9
2            2        5        3       0        3
3            3        3        6       9       12
4            4        0        0       0        4
5            5       12        1       6       13
6            6       14        2       9        6
7            7        7       12       1       15
8            8        4        2       2       10
9            9       18       13      11       17
10          10        5        4       4       11
11          11       24       15      15       12
12          12        5        1      22        0
13          13       32       39      23       35
14          14        2        0       1        3
15          15        6       20      36       25
16          16        5        2       7        6
17          17        3        2       6       12
18          18       24       24      17        9
19          19        1        8       7        1
20          20       54       42      34       39
21          21        4        6       3        0
22          22       10       12       8        2
23          23       28       16      27       25
24          24        0        0       2        1
25          25        1        6      10        7
26          26       36        8      13       30
27          27       22       39      27        8
28          28        5       10       4        0
29          29        4        0       0        4
...        ...      ...      ...     ...      ...
49965    49965       39       11      24       31
49966    49966        0        2       1        2
49967    49967       10        4       0        0
49968    49968        2        8       3        2
49969    49969        6        0       0        0
49970    49970        9       10      10        8
49971    49971        1        1       5        0
49972    49972        0        0      28        0
49973    49973        1        1       6        2
49974    49974        0        1       0        0
49975    49975       12       10       6       13
49976    49976        5        7       5        7
49977    49977       12        8      13       21
49978    49978        9        2       1        0
49979    49979        1        0       0        0
49980    49980       11        8       1       10
49981    49981        1        0       2        9
49982    49982        8        5       8        9
49983    49983       12       20      29       14
49984    49984       21       18      18       13
49985    49985        0        1       3        0
49986    49986        2        0       1        2
49987    49987       52       32      70       50
49988    49988        3        1       0        0
49989    49989       14       35      43       23
49990    49990        0        1       0        0
49991    49991        2        6       2        0
49992    49992        0        0       1        1
49993    49993        0        4       0        0
49994    49994        0        0       3        0

[49995 rows x 5 columns]

## 13. 시간대별 구매건수

In [624]:
def f2(x):
    if 9 <= x <= 12 :
        return('아침_구매건수')
    elif 13 <= x <= 17 :
        return('점심_구매건수')
    else :
        return('저녁_구매건수')  # datatime 필드가 시간 형식에 맞지 않은 값을 갖는 경우 저녁시간으로 처리

df_all['timeslot'] = (df_all.sales_time // 100).apply(f2)
f = pd.pivot_table(df_all, index='custid', columns='timeslot', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

timeslot  custid  아침_구매건수  저녁_구매건수  점심_구매건수
0              0        2        9        0
1              1        7        5       14
2              2        3        4        4
3              3        6       13       11
4              4        0        0        4
5              5        9       12       11
6              6        4        8       19
7              7        0        6       29
8              8        1        3       14
9              9       19       24       16
10            10       12        3        9
11            11       24       11       31
12            12        1       10       17
13            13       14       13      102
14            14        1        0        5
15            15       32        2       53
16            16        1        6       13
17            17        2        6       15
18            18        4        6       64
19            19        2       10        5
20            20       25       52       92
21            21        7        0        6
22            22        1        4       27
23            23       16       19       61
24            24        0        2        1
25            25        0        3       21
26            26        1       14       72
27            27        5       31       60
28            28        0        5       14
29            29        1        3        4
...          ...      ...      ...      ...
49965      49965       31       15       59
49966      49966        0        2        3
49967      49967        3        3        8
49968      49968        0        2       13
49969      49969        0        4        2
49970      49970        2       17       18
49971      49971        2        2        3
49972      49972        0       15       13
49973      49973        2        1        7
49974      49974        0        0        1
49975      49975        0       12       29
49976      49976        7        7       10
49977      49977       14       12       28
49978      49978        0        7        5
49979      49979        0        0        1
49980      49980        6       11       13
49981      49981        0        1       11
49982      49982        4       12       14
49983      49983       21       10       44
49984      49984       12       12       46
49985      49985        2        0        2
49986      49986        0        1        4
49987      49987       17      100       87
49988      49988        3        1        0
49989      49989        5        2      108
49990      49990        0        0        1
49991      49991        0        7        3
49992      49992        0        1        1
49993      49993        0        1        3
49994      49994        0        1        2

[49995 rows x 4 columns]

## 14. 방문 빈도성

In [625]:
df_all['month']=pd.to_datetime(df_all.sales_date).dt.month
a=df_all.groupby('custid')['month'].agg([('가장 최근 구매 달','max')]).reset_index()
b=df_all.groupby('custid')['month'].agg([('가장 예전 구매 달','min')]).reset_index()
c=df_all.groupby('custid')['month'].agg([('구매를 한 달의 수','nunique')]).reset_index()
a['방문빈도성']=round((a['가장 최근 구매 달']-b['가장 예전 구매 달'])/c['구매를 한 달의 수'],1)
f=a.iloc[:,[0,2]]
features.append(f); f

       custid  방문빈도성
0           0    1.6
1           1    1.4
2           2    1.8
3           3    1.2
4           4    0.0
5           5    1.0
6           6    1.6
7           7    1.1
8           8    1.0
9           9    1.0
10         10    1.2
11         11    1.0
12         12    1.7
13         13    1.0
14         14    1.6
15         15    1.0
16         16    1.4
17         17    1.1
18         18    0.9
19         19    1.4
20         20    0.9
21         21    1.7
22         22    1.2
23         23    1.0
24         24    0.5
25         25    1.0
26         26    1.0
27         27    1.0
28         28    2.8
29         29    1.0
...       ...    ...
49965   49965    0.9
49966   49966    2.0
49967   49967    2.5
49968   49968    2.2
49969   49969    0.7
49970   49970    1.6
49971   49971    2.2
49972   49972    0.5
49973   49973    1.4
49974   49974    0.0
49975   49975    1.1
49976   49976    2.0
49977   49977    0.9
49978   49978    2.0
49979   49979    0.0
49980   49980    1.1
49981   49981    1.7
49982   49982    1.1
49983   49983    0.9
49984   49984    0.9
49985   49985    0.7
49986   49986    1.3
49987   49987    0.9
49988   49988    5.0
49989   49989    1.0
49990   49990    0.0
49991   49991    1.8
49992   49992    1.5
49993   49993    0.0
49994   49994    0.0

[49995 rows x 2 columns]

## 15. 구매상품 다양성

In [626]:
f4=df_all.groupby('custid')['brd_nm'].agg([('구매상품 다양성','nunique')]).reset_index()
f4['구매상품 다양성']=f4['구매상품 다양성']/1191
f=round(f4,2)
features.append(f); f

       custid  구매상품 다양성
0           0      0.01
1           1      0.02
2           2      0.01
3           3      0.02
4           4      0.00
5           5      0.02
6           6      0.02
7           7      0.02
8           8      0.01
9           9      0.03
10         10      0.02
11         11      0.02
12         12      0.01
13         13      0.04
14         14      0.00
15         15      0.04
16         16      0.02
17         17      0.01
18         18      0.04
19         19      0.01
20         20      0.05
21         21      0.00
22         22      0.02
23         23      0.04
24         24      0.00
25         25      0.01
26         26      0.03
27         27      0.03
28         28      0.01
29         29      0.01
...       ...       ...
49965   49965      0.03
49966   49966      0.00
49967   49967      0.01
49968   49968      0.01
49969   49969      0.00
49970   49970      0.02
49971   49971      0.00
49972   49972      0.01
49973   49973      0.01
49974   49974      0.00
49975   49975      0.03
49976   49976      0.01
49977   49977      0.03
49978   49978      0.01
49979   49979      0.00
49980   49980      0.01
49981   49981      0.01
49982   49982      0.02
49983   49983      0.03
49984   49984      0.02
49985   49985      0.00
49986   49986      0.00
49987   49987      0.05
49988   49988      0.00
49989   49989      0.05
49990   49990      0.00
49991   49991      0.01
49992   49992      0.00
49993   49993      0.00
49994   49994      0.00

[49995 rows x 2 columns]

## 16. 최대 할부개월 수

In [627]:
f=df_all.groupby('custid')['inst_mon'].agg([('최대할부개월수', 'max')]).reset_index()
features.append(f); f

       custid  최대할부개월수
0           0        3
1           1        3
2           2       12
3           3        5
4           4       10
5           5        3
6           6        3
7           7        3
8           8        3
9           9        1
10         10        3
11         11        3
12         12        3
13         13        3
14         14        3
15         15        6
16         16        3
17         17        3
18         18        3
19         19        3
20         20        3
21         21       10
22         22        3
23         23       12
24         24        3
25         25        3
26         26        6
27         27        3
28         28        3
29         29        1
...       ...      ...
49965   49965        3
49966   49966        3
49967   49967        3
49968   49968        3
49969   49969        3
49970   49970        3
49971   49971        3
49972   49972        6
49973   49973        3
49974   49974        6
49975   49975        1
49976   49976        3
49977   49977        3
49978   49978        3
49979   49979        3
49980   49980        3
49981   49981        3
49982   49982        3
49983   49983        3
49984   49984        6
49985   49985       10
49986   49986        3
49987   49987       10
49988   49988        3
49989   49989        6
49990   49990        6
49991   49991        3
49992   49992        1
49993   49993        1
49994   49994        1

[49995 rows x 2 columns]

## 17.브랜드 편중도 = 해당 고객이 구매한 브랜드 수 / 전체 브랜드 수

In [628]:
a['브랜드 편중도']=df_all.groupby('custid')['brd_nm'].agg([('구매 브랜드 수','nunique')]).reset_index().iloc[:,1]/df_all['brd_nm'].nunique()
f=a.iloc[:,[0,3]]
features.append(f); f

       custid   브랜드 편중도
0           0  0.003673
1           1  0.009969
2           2  0.003673
3           3  0.011018
4           4  0.002099
5           5  0.011018
6           6  0.012067
7           7  0.010493
8           8  0.006821
9           9  0.018363
10         10  0.009444
11         11  0.009969
12         12  0.007345
13         13  0.025184
14         14  0.002623
15         15  0.024659
16         16  0.009969
17         17  0.008919
18         18  0.022560
19         19  0.007870
20         20  0.028332
21         21  0.002623
22         22  0.009969
23         23  0.025708
24         24  0.001574
25         25  0.008919
26         26  0.020986
27         27  0.018363
28         28  0.004722
29         29  0.003673
...       ...       ...
49965   49965  0.020462
49966   49966  0.002099
49967   49967  0.005771
49968   49968  0.005247
49969   49969  0.002099
49970   49970  0.010493
49971   49971  0.002623
49972   49972  0.006821
49973   49973  0.004722
49974   49974  0.000525
49975   49975  0.015740
49976   49976  0.006296
49977   49977  0.018888
49978   49978  0.004197
49979   49979  0.000525
49980   49980  0.003673
49981   49981  0.005247
49982   49982  0.011542
49983   49983  0.019412
49984   49984  0.015215
49985   49985  0.002099
49986   49986  0.002623
49987   49987  0.032529
49988   49988  0.002099
49989   49989  0.032529
49990   49990  0.000525
49991   49991  0.004197
49992   49992  0.001049
49993   49993  0.001574
49994   49994  0.001574

[49995 rows x 2 columns]

## 18. 내점당 평균 구매건수

In [629]:
f = df_all.groupby('custid')['sales_date'].agg([('하','value_counts')]).reset_index()
f= f.groupby('custid')['하'].agg([('내점당 평균 구매건수','mean')]).reset_index()
f['내점당 평균 구매건수'] = round(f['내점당 평균 구매건수'],2)
features.append(f); f

       custid  내점당 평균 구매건수
0           0         1.57
1           1         1.62
2           2         1.57
3           3         2.31
4           4         2.00
5           5         1.52
6           6         2.82
7           7         1.52
8           8         1.80
9           9         1.74
10         10         1.60
11         11         1.57
12         12         2.33
13         13         3.31
14         14         1.20
15         15         2.64
16         16         2.00
17         17         1.53
18         18         1.57
19         19         1.55
20         20         2.25
21         21         1.08
22         22         1.52
23         23         2.23
24         24         1.50
25         25         1.85
26         26         2.42
27         27         1.78
28         28         2.11
29         29         2.00
...       ...          ...
49965   49965         1.78
49966   49966         1.25
49967   49967         2.33
49968   49968         2.50
49969   49969         1.50
49970   49970         3.36
49971   49971         1.17
49972   49972         3.11
49973   49973         1.25
49974   49974         1.00
49975   49975         1.95
49976   49976         2.00
49977   49977         1.69
49978   49978         1.50
49979   49979         1.00
49980   49980         2.31
49981   49981         3.00
49982   49982         1.88
49983   49983         2.42
49984   49984         2.59
49985   49985         1.33
49986   49986         1.25
49987   49987         3.34
49988   49988         2.00
49989   49989         2.67
49990   49990         1.00
49991   49991         1.25
49992   49992         1.00
49993   49993         4.00
49994   49994         1.50

[49995 rows x 2 columns]

## 19. 새로운 시간대별 구매건수

In [630]:
def f2(x):
    if 901 <= x < 1200 :
        return('12시 이전_구매건수')
    elif 1200 <= x < 1400 :
        return('12~2시_구매건수')
    elif 1400 <= x < 1600 :
        return('2~4시_구매건수')
    elif 1600 <= x < 1800 :
        return('4~6시_구매건수')
    else :
        return('6시이후_구매건수')  

df_all['timeslot2'] = df_all.sales_time.apply(f2)

f = pd.pivot_table(df_all, index='custid', columns='timeslot2', values='tot_amt',
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

timeslot2  custid  12~2시_구매건수  12시 이전_구매건수  2~4시_구매건수  4~6시_구매건수  6시이후_구매건수
0               0           2            0          0          0          9
1               1           3            4          5          9          5
2               2           1            3          1          2          4
3               3           5            3          3          6         13
4               4           0            0          4          0          0
5               5           3            8          1          8         12
6               6           8            0          5         10          8
7               7           3            0          9         17          6
8               8           1            0          9          5          3
9               9          21            2          6          6         24
10             10           6            9          4          2          3
11             11          10           17         15         13         11
12             12           2            1          5         10         10
13             13          20            5         62         29         13
14             14           2            0          2          2          0
15             15          43           12         29          1          2
16             16           0            1          6          7          6
17             17           4            1          3          9          6
18             18          13            4         36         15          6
19             19           1            1          5          0         10
20             20          29           11         25         52         52
21             21           9            1          1          2          0
22             22           5            0         15          8          4
23             23          23            3         33         18         19
24             24           1            0          0          0          2
25             25           0            0         13          8          3
26             26          10            0         23         40         14
27             27          11            0         41         13         31
28             28           0            0          4         10          5
29             29           0            1          0          4          3
...           ...         ...          ...        ...        ...        ...
49965       49965          32           13         29         16         15
49966       49966           0            0          1          2          2
49967       49967           4            0          5          2          3
49968       49968           2            0          1         10          2
49969       49969           0            0          2          0          4
49970       49970           4            1          7          8         17
49971       49971           2            0          2          1          2
49972       49972           0            0          6          7         15
49973       49973           0            2          6          1          1
49974       49974           0            0          0          1          0
49975       49975           1            0         13         15         12
49976       49976           5            6          3          3          7
49977       49977          18            4         12          8         12
49978       49978           0            0          1          4          7
49979       49979           0            0          0          1          0
49980       49980           4            3          0         12         11
49981       49981           0            0          2          9          1
49982       49982           7            0          5          6         12
49983       49983          32            5         14         14         10
49984       49984           8            8         18         24         12
49985       49985           0            2          1          1          0
49986       49986           0            0          0          4          1
49987       49987          15            7         19         63        100
49988       49988           3            0          0          0          1
49989       49989          19            2         53         39          2
49990       49990           0            0          1          0          0
49991       49991           0            0          1          2          7
49992       49992           0            0          0          1          1
49993       49993           0            0          0          3          1
49994       49994           0            0          0          2          1

[49995 rows x 6 columns]

## 20. 총 방문기간

In [631]:
df_all['sdate'] = df_all.sales_date.str[:10]
def visit_period(x) :
    max_date = pd.to_datetime(x.max()).to_julian_date()
    min_date = pd.to_datetime(x.min()).to_julian_date()
    return max_date - min_date

f = df_all.groupby('custid')['sdate'].agg([('총방문기간',visit_period)]).reset_index()
features.append(f); f

       custid  총방문기간
0           0  288.0
1           1  350.0
2           2  129.0
3           3  331.0
4           4    3.0
5           5  322.0
6           6  247.0
7           7  324.0
8           8  299.0
9           9  327.0
10         10  280.0
11         11  327.0
12         12  339.0
13         13  347.0
14         14  279.0
15         15  334.0
16         16  333.0
17         17  337.0
18         18  341.0
19         19  342.0
20         20  360.0
21         21  342.0
22         22  285.0
23         23  321.0
24         24   30.0
25         25  334.0
26         26  313.0
27         27  362.0
28         28  145.0
29         29   87.0
...       ...    ...
49965   49965  350.0
49966   49966  277.0
49967   49967  123.0
49968   49968  250.0
49969   49969   68.0
49970   49970  346.0
49971   49971  292.0
49972   49972   17.0
49973   49973  233.0
49974   49974    0.0
49975   49975  323.0
49976   49976  284.0
49977   49977  360.0
49978   49978  225.0
49979   49979    0.0
49980   49980  288.0
49981   49981  139.0
49982   49982  355.0
49983   49983  358.0
49984   49984  326.0
49985   49985   56.0
49986   49986  125.0
49987   49987  356.0
49988   49988   56.0
49989   49989  355.0
49990   49990    0.0
49991   49991  272.0
49992   49992  284.0
49993   49993    0.0
49994   49994    1.0

[49995 rows x 2 columns]

## 21. 평균 방문주기

In [632]:
#평균 방문주기
df_all['sdate'] = df_all.sales_date.str[:10]
def visit_cycle(x) :
    max_date = pd.to_datetime(x.max()).to_julian_date()
    min_date = pd.to_datetime(x.min()).to_julian_date()
    visit_count = x.count()
    return (max_date - min_date)/visit_count

f = df_all.groupby('custid')['sdate'].agg([('평균방문주기',visit_cycle)]).reset_index()
features.append(f); f

       custid      평균방문주기
0           0   26.181818
1           1   13.461538
2           2   11.727273
3           3   11.033333
4           4    0.750000
5           5   10.062500
6           6    7.967742
7           7    9.257143
8           8   16.611111
9           9    5.542373
10         10   11.666667
11         11    4.954545
12         12   12.107143
13         13    2.689922
14         14   46.500000
15         15    3.839080
16         16   16.650000
17         17   14.652174
18         18    4.608108
19         19   20.117647
20         20    2.130178
21         21   26.307692
22         22    8.906250
23         23    3.343750
24         24   10.000000
25         25   13.916667
26         26    3.597701
27         27    3.770833
28         28    7.631579
29         29   10.875000
...       ...         ...
49965   49965    3.333333
49966   49966   55.400000
49967   49967    8.785714
49968   49968   16.666667
49969   49969   11.333333
49970   49970    9.351351
49971   49971   41.714286
49972   49972    0.607143
49973   49973   23.300000
49974   49974    0.000000
49975   49975    7.878049
49976   49976   11.833333
49977   49977    6.666667
49978   49978   18.750000
49979   49979    0.000000
49980   49980    9.600000
49981   49981   11.583333
49982   49982   11.833333
49983   49983    4.773333
49984   49984    4.657143
49985   49985   14.000000
49986   49986   25.000000
49987   49987    1.745098
49988   49988   14.000000
49989   49989    3.086957
49990   49990    0.000000
49991   49991   27.200000
49992   49992  142.000000
49993   49993    0.000000
49994   49994    0.333333

[49995 rows x 2 columns]

# 22 평균 구매가격

In [633]:
f = df_all.groupby('custid')['tot_amt'].agg([('평균구매가격', 'mean')]).reset_index()
features.append(f); f

       custid         평균구매가격
0           0  158363.636364
1           1  106619.230769
2           2  340986.363636
3           3   76683.333333
4           4  261250.000000
5           5  157929.968750
6           6  122097.709677
7           7   34948.057143
8           8   70416.666667
9           9   84010.508475
10         10   56165.416667
11         11  108696.954545
12         12   92695.607143
13         13   68139.000000
14         14   54196.666667
15         15  135405.287356
16         16  271594.550000
17         17   49930.304348
18         18  125710.810811
19         19   63431.764706
20         20   67585.798817
21         21  106768.846154
22         22  145290.968750
23         23   49205.041667
24         24   74266.666667
25         25   43029.166667
26         26  187709.195402
27         27   38846.385417
28         28   86265.000000
29         29   48810.000000
...       ...            ...
49965   49965   44856.352381
49966   49966   82200.000000
49967   49967   79719.142857
49968   49968  279946.666667
49969   49969   73933.333333
49970   49970   34390.270270
49971   49971   28685.714286
49972   49972   37382.142857
49973   49973  209300.000000
49974   49974  309000.000000
49975   49975  125594.804878
49976   49976   54189.875000
49977   49977   64736.222222
49978   49978   88766.916667
49979   49979  121000.000000
49980   49980   46783.066667
49981   49981   59258.333333
49982   49982   55176.666667
49983   49983  125715.986667
49984   49984  196676.271429
49985   49985  120050.000000
49986   49986  114320.000000
49987   49987   47819.093137
49988   49988  158000.000000
49989   49989   93435.365217
49990   49990  213000.000000
49991   49991   77008.000000
49992   49992  110500.000000
49993   49993   35757.250000
49994   49994   53066.666667

[49995 rows x 2 columns]

# 23 평균 할부개월수

In [634]:
f = df_all.groupby('custid')['inst_mon'].agg([('평균할부개월수', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

       custid  평균할부개월수
0           0      2.8
1           1      2.5
2           2      3.5
3           3      2.7
4           4      4.5
5           5      1.9
6           6      1.8
7           7      1.4
8           8      2.1
9           9      1.0
10         10      1.9
11         11      1.7
12         12      2.2
13         13      2.2
14         14      2.0
15         15      2.8
16         16      2.4
17         17      1.7
18         18      2.0
19         19      1.7
20         20      1.6
21         21      3.2
22         22      2.6
23         23      1.7
24         24      2.0
25         25      1.2
26         26      2.7
27         27      1.1
28         28      2.1
29         29      1.0
...       ...      ...
49965   49965      1.9
49966   49966      1.4
49967   49967      2.0
49968   49968      2.1
49969   49969      2.3
49970   49970      1.9
49971   49971      1.9
49972   49972      2.8
49973   49973      2.2
49974   49974      6.0
49975   49975      1.0
49976   49976      1.7
49977   49977      2.0
49978   49978      1.8
49979   49979      3.0
49980   49980      1.5
49981   49981      2.2
49982   49982      2.1
49983   49983      2.1
49984   49984      2.5
49985   49985      3.8
49986   49986      1.8
49987   49987      2.6
49988   49988      2.2
49989   49989      2.0
49990   49990      6.0
49991   49991      2.6
49992   49992      1.0
49993   49993      1.0
49994   49994      1.0

[49995 rows x 2 columns]

# 24 구매상품 다양성 : 구매한 서로다른 브랜드 수

In [635]:
n = df_all.part_nm.nunique()
f = df_all.groupby('custid')['brd_nm'].agg([('구매상품다양성', lambda x: len(x.unique()) / n)]).reset_index()
features.append(f); f

       custid   구매상품다양성
0           0  0.225806
1           1  0.612903
2           2  0.225806
3           3  0.677419
4           4  0.129032
5           5  0.677419
6           6  0.741935
7           7  0.645161
8           8  0.419355
9           9  1.129032
10         10  0.580645
11         11  0.612903
12         12  0.451613
13         13  1.548387
14         14  0.161290
15         15  1.516129
16         16  0.612903
17         17  0.548387
18         18  1.387097
19         19  0.483871
20         20  1.741935
21         21  0.161290
22         22  0.612903
23         23  1.580645
24         24  0.096774
25         25  0.548387
26         26  1.290323
27         27  1.129032
28         28  0.290323
29         29  0.225806
...       ...       ...
49965   49965  1.258065
49966   49966  0.129032
49967   49967  0.354839
49968   49968  0.322581
49969   49969  0.129032
49970   49970  0.645161
49971   49971  0.161290
49972   49972  0.419355
49973   49973  0.290323
49974   49974  0.032258
49975   49975  0.967742
49976   49976  0.387097
49977   49977  1.161290
49978   49978  0.258065
49979   49979  0.032258
49980   49980  0.225806
49981   49981  0.322581
49982   49982  0.709677
49983   49983  1.193548
49984   49984  0.935484
49985   49985  0.129032
49986   49986  0.161290
49987   49987  2.000000
49988   49988  0.129032
49989   49989  2.000000
49990   49990  0.032258
49991   49991  0.258065
49992   49992  0.064516
49993   49993  0.096774
49994   49994  0.096774

[49995 rows x 2 columns]

# 25 이용지점 다양성 :

In [636]:
n = 4
f = df_all.groupby('custid')['str_nm'].agg([('매장이용다양성', lambda x: len(x.unique()) / n)]).reset_index()
features.append(f); f

       custid  매장이용다양성
0           0     0.50
1           1     0.50
2           2     0.50
3           3     0.50
4           4     0.25
5           5     1.00
6           6     0.50
7           7     0.50
8           8     0.25
9           9     0.25
10         10     0.50
11         11     0.50
12         12     0.25
13         13     0.25
14         14     0.75
15         15     0.25
16         16     0.50
17         17     0.25
18         18     0.75
19         19     0.25
20         20     0.25
21         21     0.25
22         22     0.50
23         23     0.50
24         24     0.25
25         25     0.75
26         26     0.50
27         27     0.50
28         28     0.50
29         29     0.25
...       ...      ...
49965   49965     0.50
49966   49966     0.25
49967   49967     0.25
49968   49968     0.25
49969   49969     0.25
49970   49970     0.50
49971   49971     0.25
49972   49972     0.50
49973   49973     0.50
49974   49974     0.25
49975   49975     0.50
49976   49976     0.50
49977   49977     0.25
49978   49978     0.50
49979   49979     0.25
49980   49980     0.25
49981   49981     0.25
49982   49982     0.25
49983   49983     0.50
49984   49984     0.25
49985   49985     0.25
49986   49986     0.25
49987   49987     0.50
49988   49988     0.25
49989   49989     0.75
49990   49990     0.25
49991   49991     0.25
49992   49992     0.25
49993   49993     0.25
49994   49994     0.50

[49995 rows x 2 columns]

# 26 요일별 구매건수 - 요일을 새로운 기준으로 구분해봄

In [637]:
def f2(x):
    k = x.dayofweek
    if k <= 2 :
        return('월화수_구매건수')
    elif 3 <= k < 5 :
        return('목금_구매건수')
    elif 5 <= k < 6 :
        return('토_구매건수')
    else :
        return('일_구매건수')    
    
df_all['요일2'] = pd.to_datetime(df_all.sales_date).apply(f2)
f = pd.pivot_table(df_all, index='custid', columns='요일2', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

요일2    custid  목금_구매건수  월화수_구매건수  일_구매건수  토_구매건수
0           0        2         2       5       2
1           1        8         5       4       9
2           2        2         5       4       0
3           3       13         6       6       5
4           4        3         0       1       0
5           5       23         4       3       2
6           6        6        10       2      13
7           7        7        18       4       6
8           8        1         3      10       4
9           9       20        19       9      11
10         10        4        16       3       1
11         11       11         8      22      25
12         12        7        13       0       8
13         13       28        62      19      20
14         14        3         2       0       1
15         15       34        42       2       9
16         16        1         2       4      13
17         17        7        11       3       2
18         18       20        35       5      14
19         19        5         7       0       5
20         20       54        56      31      28
21         21        7         3       0       3
22         22        4        23       2       3
23         23       19        38      10      29
24         24        0         1       2       0
25         25        4         0       4      16
26         26       29        30       7      21
27         27       16        13      29      38
28         28        7        11       0       1
29         29        3         1       1       3
...       ...      ...       ...     ...     ...
49965   49965       31        38      17      19
49966   49966        1         2       2       0
49967   49967        5         1       8       0
49968   49968        3         8       4       0
49969   49969        4         0       0       2
49970   49970        5        18       7       7
49971   49971        1         4       1       1
49972   49972        4        10       7       7
49973   49973        3         6       0       1
49974   49974        0         1       0       0
49975   49975        1        15      14      11
49976   49976       13         6       2       3
49977   49977       17        20      13       4
49978   49978        5         4       0       3
49979   49979        0         0       1       0
49980   49980       12         5       1      12
49981   49981        0         0       2      10
49982   49982        5         6      10       9
49983   49983       14        14      29      18
49984   49984       18        19      23      10
49985   49985        4         0       0       0
49986   49986        1         2       2       0
49987   49987       25        47     105      27
49988   49988        0         4       0       0
49989   49989       42        44      14      15
49990   49990        0         1       0       0
49991   49991        4         2       1       3
49992   49992        1         0       1       0
49993   49993        0         4       0       0
49994   49994        0         0       1       2

[49995 rows x 5 columns]

# 27 계절별 구매건수: 2,3,4월/ 5,6,7월 / 8,9,10월 / 11,12,1월 - 일반적인 분기보다 1개월 당김

In [638]:
def f1(x):
    k = x.month
    if 2 <= k <= 4 :
        return('234월_구매건수')
    elif 5 <= k <= 7 :
        return('567월_구매건수')
    elif 8 <= k <= 10 :
        return('8910월_구매건수')
    else :
        return('11121월_구매건수')    
    
df_all['season2'] = pd.to_datetime(df_all.sales_date).apply(f1)
f = pd.pivot_table(df_all, index='custid', columns='season2', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

season2  custid  11121월_구매건수  234월_구매건수  567월_구매건수  8910월_구매건수
0             0            3          1          2           5
1             1            5          5         14           2
2             2            4          0          0           7
3             3            6          7         10           7
4             4            0          0          4           0
5             5            3          4         11          14
6             6           12          0          9          10
7             7           11          3          8          13
8             8            3          2          9           4
9             9           14         11         12          22
10           10            5          1         13           5
11           11           17         20         11          18
12           12            5         13          9           1
13           13           48         19         23          39
14           14            1          1          1           3
15           15           14         35         32           6
16           16            5          3          9           3
17           17            3          2         14           4
18           18           22         23          5          24
19           19            8          5          3           1
20           20           55         31         38          45
21           21            4          6          1           2
22           22            8         14          2           8
23           23           17         34         20          25
24           24            0          0          3           0
25           25            4          7          7           6
26           26           14         16         32          25
27           27           39         32         13          12
28           28           15          4          0           0
29           29            0          0          4           4
...         ...          ...        ...        ...         ...
49965     49965           20         22         33          30
49966     49966            0          2          1           2
49967     49967            5          2          0           7
49968     49968           10          0          5           0
49969     49969            1          0          0           5
49970     49970           10          4          6          17
49971     49971            1          3          3           0
49972     49972            0         28          0           0
49973     49973            2          0          7           1
49974     49974            1          0          0           0
49975     49975            8          5         15          13
49976     49976            9          5          7           3
49977     49977            7         12         22          13
49978     49978            4          1          0           7
49979     49979            1          0          0           0
49980     49980            9          1          4          16
49981     49981            0          0         11           1
49982     49982            5          5         14           6
49983     49983           17         22         21          15
49984     49984           14         20         16          20
49985     49985            0          4          0           0
49986     49986            0          0          3           2
49987     49987           36         52         71          45
49988     49988            4          0          0           0
49989     49989           28         36         27          24
49990     49990            0          1          0           0
49991     49991            4          2          2           2
49992     49992            0          1          1           0
49993     49993            4          0          0           0
49994     49994            0          3          0           0

[49995 rows x 5 columns]

# 28 평균할인금액

In [639]:
f = df_all.groupby('custid')['dis_amt'].agg([('평균할인금액', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

       custid   평균할인금액
0           0  15836.4
1           1   2178.1
2           2  23190.0
3           3   3055.3
4           4   5450.0
5           5  11289.4
6           6  10164.5
7           7    626.6
8           8   1390.0
9           9   3624.6
10         10   2067.9
11         11   1880.8
12         12   3350.0
13         13    619.8
14         14   5250.0
15         15   5165.2
16         16   5742.5
17         17   1162.2
18         18   3413.5
19         19   1723.5
20         20   2048.0
21         21    900.0
22         22   4329.7
23         23   3300.6
24         24   3713.3
25         25   1366.2
26         26   7291.3
27         27    834.0
28         28   3250.0
29         29   1856.2
...       ...      ...
49965   49965    503.7
49966   49966   4110.0
49967   49967   1514.3
49968   49968   6056.0
49969   49969   3516.7
49970   49970    877.6
49971   49971    605.7
49972   49972   1250.7
49973   49973   2190.0
49974   49974  15450.0
49975   49975   4353.9
49976   49976    872.9
49977   49977    757.2
49978   49978    725.0
49979   49979   6050.0
49980   49980   1104.0
49981   49981    962.5
49982   49982   1274.3
49983   49983   1668.8
49984   49984   4778.6
49985   49985   6005.0
49986   49986   5716.0
49987   49987   2057.8
49988   49988   7900.0
49989   49989   2376.3
49990   49990  10650.0
49991   49991   2305.0
49992   49992   5525.0
49993   49993    875.0
49994   49994   2866.7

[49995 rows x 2 columns]

# 29 실제 구매금액

In [640]:
f = df_all.groupby('custid')['net_amt'].agg([('실제구매금액', 'sum')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

       custid    실제구매금액
0           0   1567800
1           1   2715470
2           2   3495760
3           3   2208840
4           4   1023200
5           5   4692499
6           6   3469929
7           7   1201252
8           8   1242480
9           9   4742770
10         10   1298340
11         11   7049869
12         12   2501677
13         13   8709981
14         14    293680
15         15  11330890
16         16   5317041
17         17   1121667
18         18   9050000
19         19   1049040
20         20  11075880
21         21   1376295
22         22   4510761
23         23   4406824
24         24    211660
25         25    999910
26         26  15696360
27         27   3649193
28         28   1577285
29         29    375630
...       ...       ...
49965   49965   4657027
49966   49966    390450
49967   49967   1094868
49968   49968   4108360
49969   49969    422500
49970   49970   1239970
49971   49971    196560
49972   49972   1011680
49973   49973   2071100
49974   49974    293550
49975   49975   4970877
49976   49976   1279607
49977   49977   3454866
49978   49978   1056503
49979   49979    114950
49980   49980   1370372
49981   49981    699550
49982   49982   1617070
49983   49983   9303539
49984   49984  13432839
49985   49985    456180
49986   49986    543020
49987   49987   9335295
49988   49988    600400
49989   49989  10471787
49990   49990    202350
49991   49991    747030
49992   49992    209950
49993   49993    139529
49994   49994    150600

[49995 rows x 2 columns]

# 30  실제구매금액 평균

In [641]:
f = df_all.groupby('custid')['net_amt'].agg([('실제구매금액평균', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

       custid  실제구매금액평균
0           0  142527.3
1           1  104441.2
2           2  317796.4
3           3   73628.0
4           4  255800.0
5           5  146640.6
6           6  111933.2
7           7   34321.5
8           8   69026.7
9           9   80385.9
10         10   54097.5
11         11  106816.2
12         12   89345.6
13         13   67519.2
14         14   48946.7
15         15  130240.1
16         16  265852.0
17         17   48768.1
18         18  122297.3
19         19   61708.2
20         20   65537.8
21         21  105868.8
22         22  140961.3
23         23   45904.4
24         24   70553.3
25         25   41662.9
26         26  180417.9
27         27   38012.4
28         28   83015.0
29         29   46953.8
...       ...       ...
49965   49965   44352.6
49966   49966   78090.0
49967   49967   78204.9
49968   49968  273890.7
49969   49969   70416.7
49970   49970   33512.7
49971   49971   28080.0
49972   49972   36131.4
49973   49973  207110.0
49974   49974  293550.0
49975   49975  121240.9
49976   49976   53317.0
49977   49977   63979.0
49978   49978   88041.9
49979   49979  114950.0
49980   49980   45679.1
49981   49981   58295.8
49982   49982   53902.3
49983   49983  124047.2
49984   49984  191897.7
49985   49985  114045.0
49986   49986  108604.0
49987   49987   45761.2
49988   49988  150100.0
49989   49989   91059.0
49990   49990  202350.0
49991   49991   74703.0
49992   49992  104975.0
49993   49993   34882.2
49994   49994   50200.0

[49995 rows x 2 columns]

# 31 구입 지점 빈도값 도출

In [642]:
f = pd.pivot_table(df_all, index='custid', columns='str_nm', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

str_nm  custid  무역점   본점  신촌점  천호점
0            0    5    6    0    0
1            1    4   22    0    0
2            2    8    0    0    3
3            3    4    0    0   26
4            4    4    0    0    0
5            5    3   24    4    1
6            6    0   26    5    0
7            7    0    7   28    0
8            8   18    0    0    0
9            9   59    0    0    0
10          10    2   22    0    0
11          11   59    7    0    0
12          12    0    0    0   28
13          13    0    0  129    0
14          14    1    1    0    4
15          15    0    0   87    0
16          16    4   16    0    0
17          17    0   23    0    0
18          18    2    5   67    0
19          19   17    0    0    0
20          20    0  169    0    0
21          21    0    0    0   13
22          22    0   31    1    0
23          23    0    0    1   95
24          24    0    0    3    0
25          25   10   12    2    0
26          26    0    2    0   85
27          27    0    0   94    2
28          28    0    0    8   11
29          29    8    0    0    0
...        ...  ...  ...  ...  ...
49965    49965    3    0    0  102
49966    49966    0    0    0    5
49967    49967    0    0    0   14
49968    49968   15    0    0    0
49969    49969    0    6    0    0
49970    49970    6    0   31    0
49971    49971    0    0    0    7
49972    49972   14   14    0    0
49973    49973    9    1    0    0
49974    49974    0    1    0    0
49975    49975   37    4    0    0
49976    49976    5   19    0    0
49977    49977    0    0   54    0
49978    49978    8    4    0    0
49979    49979    0    1    0    0
49980    49980   30    0    0    0
49981    49981   12    0    0    0
49982    49982    0    0   30    0
49983    49983    2    0   73    0
49984    49984   70    0    0    0
49985    49985    0    0    0    4
49986    49986    0    5    0    0
49987    49987    2    0  202    0
49988    49988    0    4    0    0
49989    49989  103    1   11    0
49990    49990    1    0    0    0
49991    49991    0    0   10    0
49992    49992    0    2    0    0
49993    49993    0    0    4    0
49994    49994    1    2    0    0

[49995 rows x 5 columns]

# 32 총 구매액

In [643]:
f = df_all.groupby('custid')['tot_amt'].agg([('총구매액', 'sum')]).reset_index()
features.append(f); f

       custid      총구매액
0           0   1742000
1           1   2772100
2           2   3750850
3           3   2300500
4           4   1045000
5           5   5053759
6           6   3785029
7           7   1223182
8           8   1267500
9           9   4956620
10         10   1347970
11         11   7173999
12         12   2595477
13         13   8789931
14         14    325180
15         15  11780260
16         16   5431891
17         17   1148397
18         18   9302600
19         19   1078340
20         20  11422000
21         21   1387995
22         22   4649311
23         23   4723684
24         24    222800
25         25   1032700
26         26  16330700
27         27   3729253
28         28   1639035
29         29    390480
...       ...       ...
49965   49965   4709917
49966   49966    411000
49967   49967   1116068
49968   49968   4199200
49969   49969    443600
49970   49970   1272440
49971   49971    200800
49972   49972   1046700
49973   49973   2093000
49974   49974    309000
49975   49975   5149387
49976   49976   1300557
49977   49977   3495756
49978   49978   1065203
49979   49979    121000
49980   49980   1403492
49981   49981    711100
49982   49982   1655300
49983   49983   9428699
49984   49984  13767339
49985   49985    480200
49986   49986    571600
49987   49987   9755095
49988   49988    632000
49989   49989  10745067
49990   49990    213000
49991   49991    770080
49992   49992    221000
49993   49993    143029
49994   49994    159200

[49995 rows x 2 columns]

# 33 구매 파트 변수의 각 파트의 빈도값 도출

In [644]:
f = pd.pivot_table(df_all, index='custid', columns='part_nm', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

part_nm,custid,가정용품,가정용품파트,골프/유니캐쥬얼,공산품,공산품파트,남성의류,남성정장스포츠,로얄부띠끄,로얄부틱,...,여성캐쥬얼,영라이브,영어덜트캐쥬얼,영캐릭터,영플라자,인터넷백화점,잡화,잡화파트,"케주얼,구두,아동",패션잡화
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,6,0,0
1,1,1,1,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,5,8,0
2,2,4,0,3,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,3,2,0,0,3,0,3,0,0,0,...,0,7,3,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,0,0,2,0,8,1,0,...,0,0,0,0,0,0,0,4,6,0
6,6,0,1,0,1,5,0,2,3,0,...,0,0,0,0,0,0,0,3,8,0
7,7,1,1,0,5,1,0,0,0,0,...,0,0,0,0,4,0,0,1,1,4
8,8,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,2,0,21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
10,10,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,8,11,0
11,11,2,0,5,23,3,0,0,2,0,...,0,0,0,0,0,0,0,0,1,0
12,12,0,0,0,6,0,1,0,0,3,...,4,2,0,0,0,0,7,0,0,0
13,13,4,0,0,10,0,13,0,0,0,...,0,0,0,6,59,0,0,0,0,3
14,14,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
15,15,0,0,0,1,0,2,0,0,0,...,0,0,0,14,16,0,0,0,0,21
16,16,0,0,0,0,2,0,2,0,0,...,0,0,0,0,0,0,0,7,5,0
17,17,0,2,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,4,12,0
18,18,2,0,1,1,0,2,0,3,0,...,0,0,0,12,0,0,0,1,0,23
19,19,0,0,3,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,0,7,0,0,36,0,2,4,0,...,0,0,0,0,0,0,0,22,75,0
21,21,1,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,22,0,0,0,0,1,0,8,3,0,...,0,0,0,0,0,0,0,10,0,0
23,23,6,0,0,1,0,0,0,0,0,...,1,28,13,0,1,0,18,0,0,0
24,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
25,25,0,0,1,1,2,1,0,0,0,...,0,0,0,0,1,0,0,5,5,1
26,26,1,0,0,0,0,1,0,0,1,...,30,0,20,0,0,0,29,2,0,0
27,27,2,0,0,25,0,0,0,0,0,...,0,0,0,1,3,0,1,0,0,23
28,28,2,0,0,4,0,0,0,0,0,...,1,4,0,0,1,0,3,0,0,3
29,29,0,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49965,49965,10,0,0,7,0,0,0,0,0,...,25,8,7,0,0,0,17,0,0,0
49966,49966,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,3,0,0,0
49967,49967,0,0,0,3,0,1,0,0,0,...,0,1,1,0,0,0,7,0,0,0
49968,49968,1,0,3,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49969,49969,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,2,0
49970,49970,3,0,1,3,0,0,0,0,0,...,0,0,0,5,5,0,0,0,0,12
49971,49971,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,1,0,0,0
49972,49972,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,6,7,2
49973,49973,0,0,3,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49974,49974,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49975,49975,3,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
49976,49976,0,4,2,1,7,0,4,0,0,...,0,0,0,0,0,0,0,3,0,0
49977,49977,2,0,0,5,0,2,0,0,0,...,0,0,0,4,2,0,0,0,0,13
49978,49978,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,1
49979,49979,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49980,49980,0,0,1,16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49981,49981,0,0,4,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49982,49982,2,0,0,0,0,2,0,0,0,...,0,0,0,0,5,0,0,0,0,7
49983,49983,5,0,0,17,0,7,0,0,0,...,0,0,0,0,1,0,0,0,0,11
49984,49984,0,0,0,22,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,7
49985,49985,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49986,49986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
49987,49987,20,0,0,29,0,10,0,0,0,...,0,0,0,3,4,0,0,0,0,15
49988,49988,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
49989,49989,1,0,21,6,0,0,0,0,0,...,0,0,0,3,1,0,0,0,1,3
49990,49990,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49991,49991,0,0,0,0,0,1,0,0,0,...,0,0,0,0,6,0,0,0,0,3
49992,49992,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
49993,49993,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49994,49994,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0

# 34 구매제품 변수의 각 파트의 빈도값 도출

In [645]:
f = pd.pivot_table(df_all, index='custid', columns='buyer_nm', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

buyer_nm,custid,가구,가전,기타바이어,니트단품,도자기크리스탈,디자이너부띠끄,문화완구,생활용품,섬유,...,트래디셔널캐주얼,피혁A,피혁B,행사장(남성),행사장(아동스포츠),행사장(여성정장),행사장(여성캐주얼),행사장(여성캐쥬),행사장(잡화),화장품
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,8
1,1,0,1,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,3
2,2,0,3,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,0,0,1
3,3,0,1,0,1,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,1
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,5,0,0,0,0,0,1,0,0,0,...,4,0,0,0,0,0,0,0,0,4
6,6,0,0,0,2,0,0,4,0,2,...,0,0,0,0,0,0,0,0,0,1
7,7,0,1,0,2,0,0,4,0,1,...,1,1,0,0,0,0,0,0,0,2
8,8,0,0,0,4,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,4
9,9,0,1,0,2,0,0,1,0,2,...,6,4,0,0,0,0,0,0,0,11
10,10,0,0,0,0,0,0,3,0,0,...,1,4,0,0,0,0,0,0,0,6
11,11,0,0,0,5,0,4,0,0,1,...,2,0,0,0,0,0,0,0,0,3
12,12,0,0,0,2,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,7
13,13,0,0,1,4,0,2,2,0,1,...,16,0,1,0,0,0,0,0,0,2
14,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
15,15,0,0,0,8,0,0,5,0,3,...,0,0,4,0,0,0,0,0,0,12
16,16,0,0,0,1,0,0,1,0,1,...,1,1,1,0,0,0,0,0,0,1
17,17,0,0,0,3,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
18,18,0,0,1,2,1,7,0,0,2,...,2,2,0,0,0,0,0,0,0,20
19,19,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,4
20,20,0,3,0,7,2,1,14,0,2,...,1,3,0,0,0,0,0,0,0,20
21,21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,22,0,0,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,4
23,23,0,2,1,3,3,0,0,0,0,...,14,4,2,0,0,0,0,0,0,8
24,24,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
25,25,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,8
26,26,0,1,1,13,0,0,0,0,2,...,0,4,4,0,0,0,0,0,0,23
27,27,0,0,1,3,0,0,5,0,5,...,2,1,1,0,0,0,0,0,0,16
28,28,0,2,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,5
29,29,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49965,49965,0,3,3,4,0,0,0,0,4,...,4,1,1,0,0,0,0,0,0,12
49966,49966,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
49967,49967,0,0,0,0,0,0,0,0,3,...,0,1,1,0,0,0,0,0,0,3
49968,49968,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6
49969,49969,0,0,0,0,0,0,0,0,1,...,2,0,0,0,0,0,0,0,0,1
49970,49970,0,0,0,1,3,0,3,0,4,...,0,8,2,0,0,0,0,0,0,3
49971,49971,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
49972,49972,0,0,0,0,0,0,0,0,3,...,2,6,0,0,0,0,0,0,0,5
49973,49973,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49974,49974,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49975,49975,0,1,0,2,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,10
49976,49976,0,0,0,0,0,2,0,0,1,...,1,0,0,0,0,0,0,0,0,1
49977,49977,0,0,1,7,0,0,0,0,5,...,0,4,0,0,0,0,0,0,0,3
49978,49978,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49979,49979,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49980,49980,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,2
49981,49981,0,0,0,0,0,0,1,0,0,...,3,0,1,0,0,0,0,0,0,1
49982,49982,0,0,0,6,2,0,0,0,1,...,1,3,0,0,0,0,0,0,0,4
49983,49983,0,0,1,2,1,0,5,0,5,...,0,0,0,0,0,0,0,0,0,8
49984,49984,0,0,0,4,0,16,0,0,5,...,0,4,3,0,0,0,0,0,1,4
49985,49985,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
49986,49986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49987,49987,0,0,2,3,2,0,22,0,10,...,1,1,4,0,0,0,0,0,0,2
49988,49988,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
49989,49989,0,1,0,5,0,1,5,0,5,...,2,6,1,0,0,0,0,0,0,13
49990,49990,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49991,49991,0,0,1,1,0,0,0,0,2,...,0,0,1,0,0,0,0,0,0,1
49992,49992,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
49993,49993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49994,49994,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [646]:
X_train3 = pd.DataFrame({'custid': df_train.custid.unique()})
for f in features :
    X_train3 = pd.merge(X_train3, f, how='left')
display(X_train3)

,custid,평균구매시간,퇴근 전 구매건수,퇴근 후 구매건수,근무시간 구매건수 비율,퇴근 후 구매건수 비율,평균 구매시간 내 구매건수,평균 구매시간 외 구매건수,평균 시간 구매비율,충동구매 여부_no,...,트래디셔널캐주얼,피혁A,피혁B,행사장(남성),행사장(아동스포츠),행사장(여성정장),행사장(여성캐주얼),행사장(여성캐쥬),행사장(잡화),화장품
0,0,17.4,6,5,0.545455,0.454545,2,1,2.000000,0,...,1,0,0,0,0,0,0,0,0,8
1,1,15.1,24,1,0.960000,0.040000,5,5,1.000000,1,...,0,0,0,0,0,0,0,0,0,3
2,2,15.1,7,3,0.700000,0.300000,4,4,1.000000,1,...,3,1,0,0,0,0,0,0,0,1
3,3,15.8,25,2,0.925926,0.074074,4,5,0.800000,1,...,1,1,0,0,0,0,0,0,0,1
4,4,14.0,0,0,0.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
5,5,15.5,26,6,0.812500,0.187500,4,5,0.800000,1,...,4,0,0,0,0,0,0,0,0,4
6,6,15.6,27,2,0.931034,0.068966,4,5,0.800000,1,...,0,0,0,0,0,0,0,0,0,1
7,7,16.2,33,1,0.970588,0.029412,4,4,1.000000,1,...,1,1,0,0,0,0,0,0,0,2
8,8,15.6,12,1,0.923077,0.076923,4,4,1.000000,1,...,1,1,1,0,0,0,0,0,0,4
9,9,15.4,45,12,0.789474,0.210526,5,5,1.000000,1,...,6,4,0,0,0,0,0,0,0,11
10,10,13.2,24,0,1.000000,0.000000,4,4,1.000000,1,...,1,4,0,0,0,0,0,0,0,6
11,11,14.3,57,3,0.950000,0.050000,6,5,1.200000,0,...,2,0,0,0,0,0,0,0,0,3
12,12,16.5,22,5,0.814815,0.185185,4,5,0.800000,1,...,0,0,0,0,0,0,0,0,0,7
13,13,14.9,102,2,0.980769,0.019231,5,5,1.000000,1,...,16,0,1,0,0,0,0,0,0,2
14,14,14.8,6,0,1.000000,0.000000,2,3,0.666667,1,...,0,0,0,0,0,0,0,0,0,4
15,15,13.1,67,2,0.971014,0.028986,5,3,1.666667,0,...,0,0,4,0,0,0,0,0,0,12
16,16,16.4,14,3,0.823529,0.176471,3,3,1.000000,1,...,1,1,1,0,0,0,0,0,0,1
17,17,15.7,19,1,0.950000,0.050000,4,5,0.800000,1,...,0,1,0,0,0,0,0,0,0,2
18,18,14.7,52,2,0.962963,0.037037,5,5,1.000000,1,...,2,2,0,0,0,0,0,0,0,20
19,19,16.3,8,4,0.666667,0.333333,2,3,0.666667,1,...,0,0,1,0,0,0,0,0,0,4
20,20,15.8,138,20,0.873418,0.126582,5,7,0.714286,1,...,1,3,0,0,0,0,0,0,0,20
21,21,13.1,13,0,1.000000,0.000000,4,3,1.333333,0,...,0,0,0,0,0,0,0,0,0,1
22,22,15.1,25,0,1.000000,0.000000,4,4,1.000000,1,...,1,0,0,0,0,0,0,0,0,4
23,23,15.1,72,8,0.900000,0.100000,5,6,0.833333,1,...,14,4,2,0,0,0,0,0,0,8
24,24,16.7,2,1,0.666667,0.333333,2,1,2.000000,0,...,0,0,1,0,0,0,0,0,0,1
25,25,15.6,18,0,1.000000,0.000000,3,3,1.000000,1,...,0,0,0,0,0,0,0,0,0,8
26,26,15.9,73,4,0.948052,0.051948,4,5,0.800000,1,...,0,4,4,0,0,0,0,0,0,23
27,27,15.7,65,9,0.878378,0.121622,4,5,0.800000,1,...,2,1,1,0,0,0,0,0,0,16
28,28,16.4,17,0,1.000000,0.000000,3,3,1.000000,1,...,0,0,1,0,0,0,0,0,0,5
29,29,16.9,5,3,0.625000,0.375000,3,3,1.000000,1,...,0,0,1,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29970,16.8,6,2,0.750000,0.250000,3,4,0.750000,1,...,0,0,0,0,0,0,0,0,0,3
29971,29971,14.6,6,1,0.857143,0.142857,3,2,1.500000,0,...,0,0,0,0,0,0,0,0,0,1
29972,29972,16.8,21,7,0.750000,0.250000,3,5,0.600000,1,...,1,2,1,0,0,0,0,0,0,1
29973,29973,15.0,78,3,0.962963,0.037037,5,6,0.833333,1,...,1,4,4,0,0,0,0,0,0,11
29974,29974,14.8,26,2,0.928571,0.071429,5,5,1.000000,1,...,2,3,0,0,0,0,1,0,0,2
29975,29975,16.4,11,5,0.687500,0.312500,3,5,0.600000,1,...,3,1,0,0,0,0,0,0,0,1
29976,29976,13.9,8,0,1.000000,0.000000,2,3,0.666667,1,...,0,0,0,0,0,0,0,0,0,4
29977,29977,16.6,14,2,0.875000,0.125000,3,3,1.000000,1,...,0,1,1,0,0,0,0,0,0,5
29978,29978,15.8,83,1,0.988095,0.011905,4,6,0.666667,1,...,6,1,0,0,0,0,0,0,0,3
29979,29979,14.6,60,0,1.000000,0.000000,3,5,0.600000,1,...,1,1,0,0,0,0,0,0,0,1
29980,29980,15.3,51,8,0.864407,0.135593,5,5,1.000000,1,...,3,3,1,0,0,0,0,0,0,14
29981,29981,18.0,1,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
29982,29982,12.3,7,0,1.000000,0.000000,3,2,1.500000,0,...,0,0,0,0,0,0,0,0,0,1
29983,29983,14.0,12,0,1.000000,0.000000,2,2,1.000000,1,...,0,0,0,0,0,0,0,0,0,4
29984,29984,16.8,3,2,0.600000,0.400000,1,2,0.500000,1,...,0,0,0,0,0,0,0,0,0,1
29985,29985,15.8,10,3,0.769231,0.230769,5,5,1.000000,1,...,0,0,0,0,0,0,0,0,0,7
29986,29986,15.4,45,4,0.918367,0.081633,5,4,1.250000,0,...,2,1,2,0,0,0,0,0,0,4
29987,29987,15.0,45,2,0.957447,0.042553,6,5,1.200000,0,...,0,2,0,0,0,0,0,0,0,9
29988,29988,16.6,19,5,0.791667,0.208333,3,5,0.600000,1,...,4,3,1,0,0,0,0,0,0,4
29989,29989,15.2,10,0,1.000000,0.000000,4,4,1.000000,1,...,0,0,0,0,0,0,0,0,0,5
29990,29990,15.4,16,4,0.800000,0.200000,5,5,1.000000,1,...,2,2,1,0,0,0,0,0,0,5
29991,29991,14.3,22,4,0.846154,0.153846,5,5,1.000000,1,...,1,1,0,0,0,0,0,0,0,1
29992,29992,17.8,8,8,0.500000,0.500000,3,4,0.750000,1,...,0,1,1,0,0,0,0,0,0,2
29993,29993,14.7,20,0,1.000000,0.000000,4,6,0.666667,1,...,0,3,0,0,0,0,0,0,0,1
29994,29994,16.2,26,5,0.838710,0.161290,4,4,1.000000,1,...,0,2,0,0,0,0,0,0,0,9
29995,29995,15.2,61,2,0.968254,0.031746,5,6,0.833333,1,...,0,3,0,0,0,0,0,0,0,11
29996,29996,14.8,16,3,0.842105,0.157895,4,2,2.000000,0,...,0,1,11,0,0,0,0,0,0,2
29997,29997,14.7,16,0,1.000000,0.000000,3,4,0.750000,1,...,0,0,0,0,0,0,0,0,0,1
29998,29998,14.4,10,1,0.909091,0.090909,4,2,2.000000,0,...,3,1,0,0,0,0,0,0,0,1
29999,29999,16.3,3,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,1,0,0,0,0,0,0,1

In [647]:
X_test3 = pd.DataFrame({'custid': df_test.custid.unique()})
for f in features :
    X_test3 = pd.merge(X_test3, f, how='left')
display(X_test3)

,custid,평균구매시간,퇴근 전 구매건수,퇴근 후 구매건수,근무시간 구매건수 비율,퇴근 후 구매건수 비율,평균 구매시간 내 구매건수,평균 구매시간 외 구매건수,평균 시간 구매비율,충동구매 여부_no,...,트래디셔널캐주얼,피혁A,피혁B,행사장(남성),행사장(아동스포츠),행사장(여성정장),행사장(여성캐주얼),행사장(여성캐쥬),행사장(잡화),화장품
0,30000,17.0,20,7,0.740741,0.259259,3,4,0.750000,1,...,2,1,0,0,0,0,0,0,0,1
1,30001,17.2,26,1,0.962963,0.037037,3,2,1.500000,0,...,0,5,2,0,0,0,0,0,0,1
2,30002,14.4,86,5,0.945055,0.054945,6,5,1.200000,0,...,2,4,0,0,0,0,0,0,0,23
3,30003,16.0,26,6,0.812500,0.187500,4,5,0.800000,1,...,0,2,0,0,0,0,0,0,0,7
4,30004,16.3,36,13,0.734694,0.265306,4,7,0.571429,1,...,0,0,0,0,0,0,0,0,0,1
5,30005,19.0,0,1,0.000000,1.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
6,30006,14.7,7,0,1.000000,0.000000,2,3,0.666667,1,...,0,0,1,0,0,0,0,0,0,1
7,30007,17.5,4,2,0.666667,0.333333,2,3,0.666667,1,...,0,0,0,0,0,0,0,0,0,3
8,30008,15.9,9,0,1.000000,0.000000,3,3,1.000000,1,...,0,0,3,0,0,0,0,0,0,1
9,30009,17.0,3,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,3
10,30010,16.6,10,1,0.909091,0.090909,3,3,1.000000,1,...,0,4,1,0,0,0,0,0,0,1
11,30011,14.3,29,0,1.000000,0.000000,5,4,1.250000,0,...,2,0,0,0,0,0,0,0,0,1
12,30012,16.4,25,8,0.757576,0.242424,5,4,1.250000,0,...,0,0,0,0,0,0,0,0,0,6
13,30013,15.9,7,3,0.700000,0.300000,3,3,1.000000,1,...,0,1,0,1,0,0,0,0,0,1
14,30014,18.4,3,4,0.428571,0.571429,2,2,1.000000,1,...,2,0,0,0,0,0,0,0,0,2
15,30015,17.0,10,10,0.500000,0.500000,4,5,0.800000,1,...,1,2,0,0,0,0,0,0,0,4
16,30016,13.6,8,0,1.000000,0.000000,3,3,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
17,30017,14.9,46,2,0.958333,0.041667,5,5,1.000000,1,...,0,0,0,0,0,0,0,0,0,5
18,30018,15.4,113,2,0.982609,0.017391,5,4,1.250000,0,...,2,3,3,0,0,0,0,0,0,17
19,30019,15.2,59,2,0.967213,0.032787,5,5,1.000000,1,...,1,2,0,0,0,0,0,0,0,8
20,30020,14.8,45,3,0.937500,0.062500,5,6,0.833333,1,...,3,3,2,0,0,0,0,0,0,5
21,30021,13.0,2,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
22,30022,16.7,1,1,0.500000,0.500000,2,2,1.000000,1,...,0,1,0,0,0,0,0,0,0,1
23,30023,14.5,52,0,1.000000,0.000000,4,5,0.800000,1,...,8,1,3,0,0,0,0,0,0,3
24,30024,16.0,3,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,2
25,30025,13.9,19,0,1.000000,0.000000,4,3,1.333333,0,...,8,0,0,0,0,0,0,0,0,1
26,30026,16.8,24,0,1.000000,0.000000,2,3,0.666667,1,...,0,0,1,0,0,0,0,0,0,1
27,30027,14.8,114,10,0.919355,0.080645,5,6,0.833333,1,...,0,4,0,0,0,0,0,0,0,2
28,30028,15.0,15,0,1.000000,0.000000,3,5,0.600000,1,...,0,1,0,0,0,0,0,0,0,1
29,30029,13.9,20,0,1.000000,0.000000,4,4,1.000000,1,...,4,0,2,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19965,49965,14.2,85,5,0.944444,0.055556,6,5,1.200000,0,...,4,1,1,0,0,0,0,0,0,12
19966,49966,16.8,5,0,1.000000,0.000000,2,3,0.666667,1,...,0,0,1,0,0,0,0,0,0,2
19967,49967,15.1,11,2,0.846154,0.153846,4,4,1.000000,1,...,0,1,1,0,0,0,0,0,0,3
19968,49968,15.9,14,1,0.933333,0.066667,4,3,1.333333,0,...,0,0,0,0,0,0,0,0,0,6
19969,49969,17.2,3,2,0.600000,0.400000,2,2,1.000000,1,...,2,0,0,0,0,0,0,0,0,1
19970,49970,16.5,27,9,0.750000,0.250000,4,6,0.666667,1,...,0,8,2,0,0,0,0,0,0,3
19971,49971,14.9,5,0,1.000000,0.000000,2,2,1.000000,1,...,1,1,0,0,0,0,0,0,0,1
19972,49972,17.1,25,3,0.892857,0.107143,4,3,1.333333,0,...,2,6,0,0,0,0,0,0,0,5
19973,49973,14.3,6,0,1.000000,0.000000,4,2,2.000000,0,...,0,0,0,0,0,0,0,0,0,1
19974,49974,17.0,1,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19975,49975,16.4,33,5,0.868421,0.131579,5,4,1.250000,0,...,0,0,0,0,0,0,0,0,0,10
19976,49976,14.5,17,4,0.809524,0.190476,4,5,0.800000,1,...,1,0,0,0,0,0,0,0,0,1
19977,49977,14.6,43,3,0.934783,0.065217,6,6,1.000000,1,...,0,4,0,0,0,0,0,0,0,3
19978,49978,17.7,5,6,0.454545,0.545455,2,4,0.500000,1,...,0,0,0,0,0,0,0,0,0,1
19979,49979,16.0,1,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19980,49980,16.2,24,6,0.800000,0.200000,4,5,0.800000,1,...,0,3,0,0,0,0,0,0,0,2
19981,49981,16.2,12,0,1.000000,0.000000,3,2,1.500000,0,...,3,0,1,0,0,0,0,0,0,1
19982,49982,16.0,22,6,0.785714,0.214286,5,5,1.000000,1,...,1,3,0,0,0,0,0,0,0,4
19983,49983,14.3,60,4,0.937500,0.062500,6,5,1.200000,0,...,0,0,0,0,0,0,0,0,0,8
19984,49984,15.1,55,4,0.932203,0.067797,5,5,1.000000,1,...,0,4,3,0,0,0,0,0,1,4
19985,49985,13.5,4,0,1.000000,0.000000,2,1,2.000000,0,...,0,0,0,0,0,0,0,0,0,1
19986,49986,16.8,5,0,1.000000,0.000000,2,2,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19987,49987,17.0,143,56,0.718593,0.281407,4,7,0.571429,1,...,1,1,4,0,0,0,0,0,0,2
19988,49988,13.5,4,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19989,49989,14.8,86,1,0.988506,0.011494,5,6,0.833333,1,...,2,6,1,0,0,0,0,0,0,13
19990,49990,15.0,1,0,1.000000,0.000000,1,1,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19991,49991,18.0,3,6,0.333333,0.666667,2,3,0.666667,1,...,0,0,1,0,0,0,0,0,0,1
19992,49992,17.5,2,0,1.000000,0.000000,1,2,0.500000,1,...,0,1,0,0,0,0,0,0,0,1
19993,49993,17.0,4,0,1.000000,0.000000,2,2,1.000000,1,...,0,0,0,0,0,0,0,0,0,1
19994,49994,17.0,3,0,1.000000,0.000000,2,2,1.000000,1,...,0,0,0,0,0,0,0,0,0,1

train_features = []
test_features = []

for f in features:
    train_features.append(f.iloc[0:30000])
    test_features.append(f.iloc[30000:])

for f in train_features :
    X_train =pd.concat([X_train ,f],axis=1)
    X_train = X_train.drop('custid',1)

In [648]:
#평균할인율 산출
X_train3["평균할인율"] = (X_train3["평균할인금액"] / X_train3["평균구매가격"])*100
X_test3["평균할인율"] = (X_test3["평균할인금액"] / X_test3["평균구매가격"])*100

In [649]:
#주말 요일별 구매비율
X_train3["토_비율"] = (X_train3["토_구매건수"] / X_train3["구매건수"])*100
X_train3["일_비율"] = (X_train3["일_구매건수"] / X_train3["구매건수"])*100
X_test3["토_비율"] = (X_test3["토_구매건수"] / X_test3["구매건수"])*100
X_test3["일_비율"] = (X_test3["일_구매건수"] / X_test3["구매건수"])*100

In [650]:
X_train3.columns

Index(['custid', '평균구매시간', '퇴근 전 구매건수', '퇴근 후 구매건수', '근무시간 구매건수 비율',
       '퇴근 후 구매건수 비율', '평균 구매시간 내 구매건수', '평균 구매시간 외 구매건수', '평균 시간 구매비율',
       '충동구매 여부_no',
       ...
       '행사장(남성)', '행사장(아동스포츠)', '행사장(여성정장)', '행사장(여성캐주얼)', '행사장(여성캐쥬)',
       '행사장(잡화)', '화장품', '평균할인율', '토_비율', '일_비율'],
      dtype='object', length=125)

In [651]:
# 치우친 데이터 로그 치환하기
f = X_train3.총구매액.where(X_train3.총구매액>=0, other=0)
f = np.log(f+1)
X_train3.총구매액 = f

f = X_test3.총구매액.where(X_test3.총구매액>=0, other=0)
f = np.log(f+1)
X_test3.총구매액 = f

f = X_train3.평균구매가격.where(X_train3.평균구매가격>=0, other=0)
f = np.log(f+1)
X_train3.평균구매가격 = f

f = X_test3.평균구매가격.where(X_test3.평균구매가격>=0, other=0)
f = np.log(f+1)
X_test3.평균구매가격 = f

f = X_train3.구매건수.where(X_train3.구매건수>=0, other=0)
f = np.log(f+1)
X_train3.구매건수 = f

f = X_test3.구매건수.where(X_test3.구매건수>=0, other=0)
f = np.log(f+1)
X_test3.구매건수 = f

f = X_train3.내점일수.where(X_train3.내점일수>=0, other=0)
f = np.log(f+1)
X_train3.내점일수 = f

f = X_test3.내점일수.where(X_test3.내점일수>=0, other=0)
f = np.log(f+1)
X_test3.내점일수 = f


f = X_train3.실제구매금액평균.where(X_train3.실제구매금액평균>=0, other=0)
f = np.log(f+1)
X_train3.실제구매금액평균 = f

f = X_test3.실제구매금액평균.where(X_test3.실제구매금액평균>=0, other=0)
f = np.log(f+1)
X_test3.실제구매금액평균 = f

f = X_train3.실제구매금액.where(X_train3.실제구매금액>=0, other=0)
f = np.log(f+1)
X_train3.실제구매금액 = f

f = X_test3.실제구매금액.where(X_test3.실제구매금액>=0, other=0)
f = np.log(f+1)
X_test3.실제구매금액 = f

In [652]:
IDtest = X_test3.custid;
X_train3.drop(['custid'], axis=1, inplace=True)
X_test3.drop(['custid'], axis=1, inplace=True)
y_train = pd.read_csv('y_train.csv').gender

for f in test_features :
    X_test3 =pd.concat([X_test ,f.reset_index()],axis=1)
    X_test3 = X_test3.drop('custid',1)
    X_test3 = X_test3.drop('index',1)

In [653]:
print( X_train3.shape , X_test3.shape)

(30000, 124) (19995, 124)

In [654]:
X_train3.head()

,평균구매시간,퇴근 전 구매건수,퇴근 후 구매건수,근무시간 구매건수 비율,퇴근 후 구매건수 비율,평균 구매시간 내 구매건수,평균 구매시간 외 구매건수,평균 시간 구매비율,충동구매 여부_no,충동구매 여부_yes,...,행사장(남성),행사장(아동스포츠),행사장(여성정장),행사장(여성캐주얼),행사장(여성캐쥬),행사장(잡화),화장품,평균할인율,토_비율,일_비율
0,17.4,6,5,0.545455,0.454545,2,1,2.0,0,1,...,0,0,0,0,0,0,8,10.000023,18.181818,45.454545
1,15.1,24,1,0.960000,0.040000,5,5,1.0,1,0,...,0,0,0,0,0,0,3,2.042877,34.615385,15.384615
2,15.1,7,3,0.700000,0.300000,4,4,1.0,1,0,...,0,0,0,0,0,0,1,6.800858,0.000000,36.363636
3,15.8,25,2,0.925926,0.074074,4,5,0.8,1,0,...,0,0,0,0,0,0,1,3.984308,16.666667,20.000000
4,14.0,0,0,0.000000,0.000000,1,1,1.0,1,0,...,0,0,0,0,0,0,1,2.086124,0.000000,25.000000

In [655]:
X_test3.head()

,평균구매시간,퇴근 전 구매건수,퇴근 후 구매건수,근무시간 구매건수 비율,퇴근 후 구매건수 비율,평균 구매시간 내 구매건수,평균 구매시간 외 구매건수,평균 시간 구매비율,충동구매 여부_no,충동구매 여부_yes,...,행사장(남성),행사장(아동스포츠),행사장(여성정장),행사장(여성캐주얼),행사장(여성캐쥬),행사장(잡화),화장품,평균할인율,토_비율,일_비율
0,17.0,20,7,0.740741,0.259259,3,4,0.750000,1,0,...,0,0,0,0,0,0,1,3.742537,18.518519,37.037037
1,17.2,26,1,0.962963,0.037037,3,2,1.500000,0,1,...,0,0,0,0,0,0,1,2.839392,18.518519,55.555556
2,14.4,86,5,0.945055,0.054945,6,5,1.200000,0,1,...,0,0,0,0,0,0,23,3.934556,26.000000,4.000000
3,16.0,26,6,0.812500,0.187500,4,5,0.800000,1,0,...,0,0,0,0,0,0,7,1.395798,18.604651,0.000000
4,16.3,36,13,0.734694,0.265306,4,7,0.571429,1,0,...,0,0,0,0,0,0,1,0.234616,7.272727,18.181818

In [656]:
X_train.shape

(30000, 2392)

In [657]:
X_test.shape

(19995, 2392)

X_train.columns = list(range(0,2433))
X_test.columns = list(range(0,2433))

In [658]:
X_train=pd.concat([X_train,X_train3],axis=1)
X_test=pd.concat([X_test,X_test3],axis=1)

# Build Models

In [659]:
# Learn XGB
from xgboost import XGBClassifier
import sys, warnings
if not sys.warnoptions: warnings.simplefilter("ignore")

model = XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.03, n_jobs=-1)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.03, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

# Make Submissions

In [660]:
pred = model.predict_proba(X_test)[:,1]
fname = 'submissions_OHE_0517(2).csv'
submissions = pd.concat([pd.Series(IDtest, name="custid"), pd.Series(pred, name="gender")] ,axis=1)
submissions.to_csv(fname, index=False)
print("'{}' is ready to submit." .format(fname))

'submissions_OHE_0517(2).csv' is ready to submit.

# ensemble

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(random_state=2)
score = cross_val_score(gbc, X_train, y_train, cv=5, scoring='roc_auc')
print('{}\nmean = {:.5f}\nstd = {:.5f}'.format(score, score.mean(), score.std()))

[0.69649217 0.6978555  0.69199624 0.70537761 0.69574501]
mean = 0.69749
std = 0.00439

In [ ]:
from xgboost import XGBClassifier
parameters = {'xgb__max_depth': 14, 'xgb__subsample': 0.4}
clf = XGBClassifier(**parameters, random_state=0, n_jobs=-1)
score = cross_val_score(clf, X_train, y_train, cv=5, scoring='roc_auc')
print('{}\nmean = {:.5f}\nstd = {:.5f}'.format(score, score.mean(), score.std()))

[0.69954762 0.69858035 0.69422074 0.70543113 0.69591301]
mean = 0.69874
std = 0.00384

In [ ]:
from sklearn.ensemble import VotingClassifier
votingC = VotingClassifier(estimators=[('gbc', gbc),('clf', clf)], voting='soft')
score = cross_val_score(votingC, X_train, y_train, cv=5, scoring='roc_auc')
print('{}\nmean = {:.5f}\nstd = {:.5f}'.format(score, score.mean(), score.std()))

In [ ]:
pred = model.predict_proba(X_test)[:,1]
fname = 'submissions_OHE_0517(3).csv'
submissions = pd.concat([pd.Series(IDtest, name="custid"), pd.Series(pred, name="gender")] ,axis=1)
submissions.to_csv(fname, index=False)
print("'{}' is ready to submit." .format(fname))

# End